<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">

      <div class="padding-bottom center mid-text">
        Sign in as...
      </div>

      <div class="flex padding-vertical border-top border-bottom">
        <div id="student-sign-in-click-page" class="two-column center active-tab">
          Student
        </div>
        <div id="instructor-sign-in-click-page" class="two-column center deactive-tab">
          Instructor
        </div>
      </div>


      <div id="student-sign-in-container-page" class="padding-top">
        <%= form_for(resource_student, as: resource_name_student, url: session_path(resource_name_student)) do |f| %>
          <div class="field">
            <%= f.label :login, "Username or email" %>
            <%= f.text_field :login, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %> <%= link_to "I forgot my password.", new_student_password_path, class: "mini-text" %>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <% if devise_mapping_student.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="border-bottom padding-bottom">
            <%= f.submit "Sign in", class: "submit-button" %>
          </div>
        <% end %>
      </div>


      <div id="instructor-sign-in-container-page" class="padding-top">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :login, "Username or email" %>
            <%= f.text_field :login, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %> <%= link_to "I forgot my password.", new_instructor_password_path, class: "mini-text" %>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="border-bottom padding-bottom">
            <%= f.submit "Sign in", class: "submit-button" %>
          </div>
        <% end %>
      </div>

      <div class="padding-vertical border-bottom">
        <%= link_to "But I don't have an account yet.", register_path %>
      </div>

    </div>
  </div>
</div>