<%= provide(:title, sanitize(@video.title)) %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">
        <%= @video.title %> 
      </div>

      <div class="flex padding-vertical border-bottom">
        <div class="video-container">
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="video-button-click">
                Edit video
              </div>
            </div>
          <% end %>

          <% if @course.paid? %>
            <% if (instructor_signed_in? && @instructor == current_instructor) || (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>
              <video class="video-player" width="100%" height="auto" controls controlslist="nodownload">
                <source src="<%= @video.video_url %>">
              Your browser does not support this video.
              </video>
            <% else %>
              You must purchase this course in order to view this video.
            <% end %>
          <% else %>
            <video class="video-player" width="100%" height="auto" controls controlslist="nodownload">
              <source src="<%= @video.video_url %>">
            Your browser does not support this video.
            </video>
          <% end %>

        </div>

      </div>

      <% unless @course.paid? %>
        <div class="padding-bottom border-bottom">
          <div>
            <span class="ad-trash-text">Advertisement</span>
            <% if instructor_signed_in? && @instructor == current_instructor %>
              <span class="mini-text">- Ninth Valley uses ads on all free courses in order to support storage of its videos. Paid courses have zero ads on them!
            <% end %>
          </div>
          <div class="blackbox">
            Ad trash
          </div>
        </div>
      <% end %>

    </div>


    <div class="body-container">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <li><span id="first-tab-click" class="active-sidebar-tab">Overview</span></li>
            <li><span id="second-tab-click" class="inactive-sidebar-tab">Description</span></li>
            <li><span id="third-tab-click" class="inactive-sidebar-tab">Other videos</span></li>
            <li><span id="fourth-tab-click" class="inactive-sidebar-tab">Comments</span></li>
          </ul>
        </aside>

        <main class="content">
          <% if (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>
            <div class="padding-bottom">
              <div id="comment-button-click">
                Leave a comment
              </div>
            </div>
          <% end %>

          <div id="first-tab">

            <div class="padding-bottom mid-text">
              Description
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@video.description, length: 280)) %>
            </div>

            <div class="padding-bottom mid-text">
              Other videos in this track
            </div>
            <div>
              
              <% @track.videos.limit(3).each do |video| %>
                <%= link_to(instructor_course_track_video_path(@instructor, @course, @track, video)) do %>
                  <div class="video-card">
                    <div class="padding-horizontal flex">
                      <div class="two-column">
                        <%= video.title %>
                      </div>
                      <div class="two-column right">
                        01:02
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if @track.videos.count > 3 %>
                <div class="padding-bottom mini-text">
                  <%= pluralize(track.videos.count - 3, "more video") %>
                </div>
              <% end %>

            </div>

            <div class="mid-text">
              Comments <%= "-" if @video.comments.any? %>
              <%= "(" + @video.comments.count.to_s + ")" if @video.comments.any? %>
            </div>
            <% if @video.comments.any? %>
              <div class="padding-bottom">
                <% @video.comments.take(5).each do |comment| %>
                  <div class="padding-vertical border-bottom">
                    <div class="padding-bottom">
                      <% if comment.student.profile.image.present? %>
                        <img class="baby-thumbnail-image" src="<%= comment.student.profile.image_url(:thumb) %>">
                      <% end %>
                      <%= link_to comment.student.username, student_path(comment.student) unless comment.student.profile.first_name.present? || comment.student.profile.last_name.present? %>
                      <%= link_to(student_path(comment.student)) do %>
                        <%= comment.student.profile.first_name if comment.student.profile.first_name.present? %> <%= comment.student.profile.last_name if comment.student.profile.last_name.present? %>
                      <% end %>
                      - <%= comment.created_at.strftime("posted on %m.%d.%Y") %>
                    </div>
                    <div>
                      <%= comment.content %>
                    </div>
                  </div>

                  <% if (instructor_signed_in? && @instructor == current_instructor) || (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>

                    <div class="edit-comment-form">
                      <div class="popup-form-inside">
                        <div class="close"></div>

                        <div class="padding-bottom center mid-text border-bottom">
                          Edit your comment
                        </div>

                        <%= form_for(comment, url: instructor_course_track_video_comment_path(@instructor, @course, @track, @video, comment)) do |f| %>
                          <span class="comment_errors"><%= render 'partials/errors/comment_errors' %></span>
                          
                          <div class="field">
                            <%= f.label :content %> <span class="mini-text">In 1000 characters or less.</span>
                            <%= f.text_area :content, class: "text-area" %>
                          </div>

                          <%= f.submit "Update comment", data: { disable_with: 'Updating...' }, class: "submit-button" %>
                        <% end %>
                      </div>
                    </div>

                  <% end %>

                <% end %>
              </div>
            <% else %>
              <div class="padding-top">
                There are no tracks yet. <%= "Add a track to this course to start teaching your students." if instructor_signed_in? && @instructor == current_instructor %>
              </div>
            <% end %>
          </div>

          <div id="second-tab">
            <div class="padding-bottom mid-text">
              Description
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@video.description) %>
            </div>
          </div>

          <div id="third-tab">
            <div class="mid-text">
              Other videos in this track 
            </div>

            <div class="padding-top">
              <% @track.videos.each do |video| %>
                <%= link_to(instructor_course_track_video_path(@instructor, @course, @track, video)) do %>
                  <div class="video-card">
                    <div class="padding-horizontal flex">
                      <div class="two-column">
                        <%= video.title %>
                      </div>
                      <div class="two-column right">
                        01:02
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>

          <div id="fourth-tab">
            <div class="mid-text">
              Comments <%= "-" if @video.comments.any? %>
              <%= "(" + @video.comments.count.to_s + ")" if @video.comments.any? %>
            </div>
            <% if @video.comments.any? %>
              <div class="padding-bottom">
                <% @video.comments.each do |comment| %>
                  <div class="padding-vertical border-bottom">
                    <div class="padding-bottom">
                      <% if comment.student.profile.image.present? %>
                        <img class="baby-thumbnail-image" src="<%= comment.student.profile.image_url(:tiny) %>">
                      <% end %>
                      <%= link_to comment.student.username, student_path(comment.student) unless comment.student.profile.first_name.present? || comment.student.profile.last_name.present? %>
                      <%= link_to(student_path(comment.student)) do %>
                        <%= comment.student.profile.first_name if comment.student.profile.first_name.present? %> <%= comment.student.profile.last_name if comment.student.profile.last_name.present? %>
                      <% end %>
                      - <%= comment.created_at.strftime("posted on %m.%d.%Y") %>
                    </div>
                    <% if student_signed_in? && current_student.id == comment.student_id %>
                      <div class="flex padding-bottom">
                        <div class="two-column">
                          <div class="edit-comment-button-click">
                            Edit comment
                          </div>
                        </div>
                        <div class="two-column link-color">
                          <%= link_to "Delete comment", instructor_course_track_video_comment_path(@instructor, @course, @track, @video, comment), data: { confirm: "Are you sure?" }, method: :delete, class: "delete-button" %>
                        </div>
                      </div>
                    <% end %>
                    <div>
                      <%= comment.content %>
                    </div>
                  </div>

                  <% if (instructor_signed_in? && @instructor == current_instructor) || (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>

                    <div class="edit-comment-form">
                      <div class="popup-form-inside">
                        <div class="close"></div>

                        <div class="padding-bottom center mid-text border-bottom">
                          Edit your comment
                        </div>

                        <%= form_for(comment, url: instructor_course_track_video_comment_path(@instructor, @course, @track, @video, comment)) do |f| %>
                          <span class="comment_errors"><%= render 'partials/errors/comment_errors' %></span>
                          
                          <div class="field padding-top">
                            <%= f.label :content %> <span class="mini-text">In 1000 characters or less.</span>
                            <%= f.text_area :content, class: "text-area" %>
                          </div>

                          <%= f.submit "Update comment", data: { disable_with: 'Updating...' }, class: "submit-button" %>
                        <% end %>
                      </div>
                    </div>

                  <% end %>

                <% end %>
              </div>
            <% else %>
              <div class="padding-top">
                There are no comments yet.
              </div>
            <% end %>
          </div>

        </main>

      </div>
    </div>

  </div>
</div>



<% if instructor_signed_in? && current_instructor == @instructor %>

<div id="video-form">
  <div class="popup-form-inside">
    <div class="close"></div>

    <div class="padding-bottom center mid-text border-bottom">
      Edit your video
    </div>

    <%= form_for(@video, url: instructor_course_track_video_path(@instructor, @course, @track, @video)) do |f| %>
      <span class="video_errors"><%= render 'partials/errors/video_errors' %></span>
                        
      <div class="field padding-top">
        <%= f.label :title %>
        <%= f.text_field :title, class: "text-field" %>
      </div>

      <% if @video.video_data? %>
        <div class="field">
          <img class="thumbnail-image" src="<%= @video.video_url(:thumb) %>">
        </div>
        <div class="flex border-bottom">
          <div class="field-two-column center">
            <label class="image-button" for="video-image">Upload a video</label>
            <%= f.hidden_field :video, value: @video.cached_video_data %>
            <span class="hidden"><%= f.file_field :video, id: "video-image" %></span>
          </div>
          <div class="field-two-column center">
            <label class="inactive-removal-tab" id="remove-image-tab" for="remove-image-inactive">Remove video</label>
            <span class="hidden"><%= f.check_box :remove_video, id: "remove-image-inactive" %></span>
          </div>
        </div>
      <% else %>
        <div class="padding-bottom border-bottom">
          <label class="image-button" for="video-image">Upload a video</label>
          <%= f.hidden_field :video, value: @video.cached_video_data %>
          <span class="hidden"><%= f.file_field :video, id: "video-image" %></span>
        </div>
      <% end %>


      <div class="field padding-top">
        <%= f.label :description %>
        <%= f.text_area :description, class: "text-area" %>
      </div>

      <%= f.submit "Update video", data: { disable_with: 'Updating...' }, class: "submit-button" %>
    <% end %>
  </div>
</div>

<% end %>

<% if (instructor_signed_in? && @instructor == current_instructor)  || (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>
  
  <div id="comment-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Leave a comment
      </div>

      <%= form_for(@comment, url: instructor_course_track_video_comments_path(@instructor, @course, @track, @video)) do |f| %>
        <span class="comment_errors"><%= render 'partials/errors/comment_errors' %></span>

        <div class="field padding-top">
          <%= f.label :content %> <span class="mini-text">In 1000 characters or less.</span>
          <%= f.text_area :content, class: "text-area" %>
        </div>

        <%= f.submit "Leave comment", data: { disable_with: 'Leaving...' }, class: "submit-button" %>
      <% end %>

    </div>
  </div>

<% end %>