<div class="mid-container border margin-top">
  <img class="image-image" src="<%= @purchase.course.image_url(:thumb) %>">
  <div class="padding-horizontal">
    <div class="padding-vertical border-bottom">
      <%= link_to @purchase.course.title, instructor_course_url(@instructor, @purchase.course) %>
    </div>

    <div class="padding-vertical mini-text">
      <%= link_to @purchase.student.username, student_url(@purchase.student) %> - refunded <%= time_ago_in_words(@purchase.updated_at) %> ago - <%= @purchase.price %> <%= @purchase.currency.upcase %>
    </div>
  </div>
</div>