<div class="mid-container border margin-top">
  <img class="image-image" src="<%= @reply.message.student.profile.image_url(:thumb) %>">
  <div class="padding-horizontal">
    <div class="padding-vertical border-bottom">
      <%= link_to @reply.message.student.username, student_url(@reply.message.student) %> - <%= truncate(@reply.message.content, length: 140) %>
    </div>

    <div class="padding-vertical mini-text">
      <%= link_to @reply.message.student.username, student_url(@reply.message.student) %> - posted <%= time_ago_in_words(@reply.created_at) %> ago - <%= truncate(@reply.content, length: 140) %>
    </div>
  </div>
</div>