<% if @notifications.where(read: false).any? %>
  <div class="padding-bottom mid-text">
    Unread <span class="notification-circle"><%= @notifications.where(read: false).count %></span> 
  </div>

  <% @notifications.where(read: false).each do |notification| %>

    <div class="notification-card inactive-notification-tab">
      <div class="padding-horizontal flex">
        <div class="two-column">
          <%= notification.student.username unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %> 
          <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          | <%= time_ago_in_words(notification.created_at) %> ago
        </div>

        <div class="two-column right">
          <%= notification.notice_type %>
        </div>
      </div>
    </div>

    <div class="notification-container border-bottom margin-bottom">
      <div class="flex padding-bottom">
        <div class="two-column link-color">
          <%= link_to "Delete", instructor_notification_path(@instructor, notification), method: :delete, remote: true, class: "delete-button" %>
        </div>
        <div class="two-column">
          <%= form_for(notification, url: instructor_notification_path(@instructor, notification), remote: true) do |f| %>
            <%= f.submit "Mark read", class: "submit-button" %>
          <% end %>
        </div>
      </div>

      <% if notification.notice_type == "review" %>
        <div class="padding-bottom">
          <%= link_to notification.review.course.title, instructor_course_path(@instructor, notification.review.course) %>
        </div>

        <div class="padding-bottom">
          <% if notification.student.profile.image.present? %>
            <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
          <% end %>
          <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
          <%= link_to(student_path(notification.student)) do %>
            <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          <% end %>
          - <span class="review-container">
              <ul>
                <% if notification.review.rating == 5 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 4 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 3 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 2 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 1 %>
                  <li class="star-five"></li>
                <% end %>
              </ul>
            </span>
          - <%= notification.review.created_at.strftime("posted on %m.%d.%Y") %>
        </div>

        <div class="padding-bottom">
          <%= truncate(notification.review.content, length: 140) %>
        </div>
      <% elsif notification.notice_type == "comment" %>
        <div class="padding-bottom">
          <%= link_to notification.comment.video.title, instructor_course_track_video_path(@instructor, notification.comment.video.track.course, notification.comment.video.track, notification.comment.video) %>
        </div>

        <div class="padding-bottom">
          <% if notification.student.profile.image.present? %>
            <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
          <% end %>
          <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
          <%= link_to(student_path(notification.student)) do %>
            <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          <% end %>
          - <%= notification.comment.created_at.strftime("posted on %m.%d.%Y") %>
        </div>

        <div class="padding-bottom">
          <%= truncate(notification.comment.content, length: 140) %>
        </div>
      <% elsif notification.notice_type == "purchase" %>

        <div class="padding-bottom">
          <div class="two-column">
            <%= link_to notification.purchase.course.title, instructor_course_path(@instructor, notification.purchase.course) %>
          </div>
          <div class="two-column right">
            <%= BigDecimal(notification.purchase.price) %> <%= notification.purchase.currency %>
            | <% if notification.purchase.stripe_charge_id.starts_with?("ch") %>
              <% if notification.purchase.course.refund_policy == "three" && notification.purchase.created_at > 3.days.ago %>
                <%= (notification.purchase.created_at + 3.days).strftime("Refundable until %m.%d.%Y") %>
              <% elsif notification.purchase.course.refund_policy == "seven" && notification.purchase.created_at > 7.days.ago %>
                <%= (notification.purchase.created_at + 7.days).strftime("Refundable until %m.%d.%Y") %>
              <% else %>
                This course cannot be refunded.
              <% end %>
            <% else %> 
              This course was refunded for <%= notification.purchase.price %> <% notification.purchase.currency %>.
            <% end %>
          </div>
        </div>

        <div class="padding-bottom">
          <% if notification.student.profile.image.present? %>
            <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
          <% end %>
          <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
          <%= link_to(student_path(notification.student)) do %>
            <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          <% end %>
          - <%= notification.purchase.created_at.strftime("purchased on %m.%d.%Y") %>
        </div>

      <% elsif notification.notice_type == "subscription" %>

        <div class="padding-bottom">
          <div class="two-column">
            <% if notification.student.profile.image.present? %>
              <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
            <% end %>
            <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
            <%= link_to(student_path(notification.student)) do %>
              <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
            <% end %>
            - <%= notification.subscription.created_at.strftime("subscribed on %m.%d.%Y") %>
          </div>
          <div class="two-column right">
            <%= BigDecimal(Stripe::Plan.retrieve(@instructor.plan_id, stripe_account: @instructor.merchant.stripe_id).amount / 100) %> <%= Stripe::Plan.retrieve(@instructor.plan_id, stripe_account: @instructor.merchant.stripe_id).currency.upcase %> per month
          </div>

        </div>
      <% end %>

    </div>


  <% end %>
<% else %>
  <div class="padding-bottom">
    You have no new notifications.
  </div>
<% end %>

<% if @notifications.where(read: true).any? %>

  <div class="padding-bottom mid-text">
    Read
  </div>
  <% @notifications.where(read: true).each do |notification| %>
    <div class="notification-card inactive-notification-tab">
      <div class="padding-horizontal flex">
        <div class="two-column">
          <%= notification.student.username unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %> 
          <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          | <%= time_ago_in_words(notification.created_at) %> ago
        </div>

        <div class="two-column right">
          <%= notification.notice_type %>
        </div>
      </div>
    </div>

    <div class="notification-container border-bottom margin-bottom">
      <div class="flex padding-bottom">
        <div class="width-hundred link-color">
          <%= link_to "Delete", instructor_notification_path(@instructor, notification), method: :delete, remote: true, class: "delete-button" %>
        </div>
      </div>

      <% if notification.notice_type == "review" %>
        <div class="padding-bottom">
          <%= link_to notification.review.course.title, instructor_course_path(@instructor, notification.review.course) %>
        </div>

        <div class="padding-bottom">
          <% if notification.student.profile.image.present? %>
            <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
          <% end %>
          <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
          <%= link_to(student_path(notification.student)) do %>
            <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          <% end %>
          - <span class="review-container">
              <ul>
                <% if notification.review.rating == 5 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 4 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 3 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 2 %>
                  <li class="star-five"></li>
                  <li class="star-five"></li>
                <% elsif notification.review.rating == 1 %>
                  <li class="star-five"></li>
                <% end %>
              </ul>
            </span>
          - <%= notification.review.created_at.strftime("posted on %m.%d.%Y") %>
        </div>

        <div class="padding-bottom">
          <%= truncate(notification.review.content, length: 140) %>
        </div>
      <% elsif notification.notice_type == "comment" %>
        <div class="padding-bottom">
          <%= link_to notification.comment.video.title, instructor_course_track_video_path(@instructor, notification.comment.video.track.course, notification.comment.video.track, notification.comment.video) %>
        </div>

        <div class="padding-bottom">
          <% if notification.student.profile.image.present? %>
            <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
          <% end %>
          <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
          <%= link_to(student_path(notification.student)) do %>
            <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          <% end %>
          - <%= notification.comment.created_at.strftime("posted on %m.%d.%Y") %>
        </div>

        <div class="padding-bottom">
          <%= truncate(notification.comment.content, length: 140) %>
        </div>
      <% elsif notification.notice_type == "purchase" %>

        <div class="padding-bottom">
          <div class="two-column">
            <%= link_to notification.purchase.course.title, instructor_course_path(@instructor, notification.purchase.course) %>
          </div>
          <div class="two-column right">
            <%= BigDecimal(notification.purchase.price) %> <%= notification.purchase.currency %>
            | <% if notification.purchase.stripe_charge_id.starts_with?("ch") %>
              <% if notification.purchase.course.refund_policy == "three" && notification.purchase.created_at > 3.days.ago %>
                <%= (notification.purchase.created_at + 3.days).strftime("Refundable until %m.%d.%Y") %>
              <% elsif notification.purchase.course.refund_policy == "seven" && notification.purchase.created_at > 7.days.ago %>
                <%= (notification.purchase.created_at + 7.days).strftime("Refundable until %m.%d.%Y") %>
              <% else %>
                This course cannot be refunded.
              <% end %>
            <% else %> 
              This course was refunded for <%= notification.purchase.price %> <% notification.purchase.currency %>.
            <% end %>
          </div>
        </div>

        <div class="padding-bottom">
          <% if notification.student.profile.image.present? %>
            <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
          <% end %>
          <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
          <%= link_to(student_path(notification.student)) do %>
            <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
          <% end %>
          - <%= notification.purchase.created_at.strftime("purchased on %m.%d.%Y") %>
        </div>

      <% elsif notification.notice_type == "subscription" %>

        <div class="padding-bottom">
          <div class="two-column">
            <% if notification.student.profile.image.present? %>
              <img class="baby-thumbnail-image" src="<%= notification.student.profile.image_url(:thumb) %>">
            <% end %>
            <%= link_to notification.student.username, student_path(notification.student) unless notification.student.profile.first_name.present? || notification.student.profile.last_name.present? %>
            <%= link_to(student_path(notification.student)) do %>
              <%= notification.student.profile.first_name if notification.student.profile.first_name.present? %> <%= notification.student.profile.last_name if notification.student.profile.last_name.present? %>
            <% end %>
            - <%= notification.subscription.created_at.strftime("subscribed on %m.%d.%Y") %>
          </div>
          <div class="two-column right">
            <%= BigDecimal(Stripe::Plan.retrieve(@instructor.plan_id, stripe_account: @instructor.merchant.stripe_id).amount / 100) %> <%= Stripe::Plan.retrieve(@instructor.plan_id, stripe_account: @instructor.merchant.stripe_id).currency.upcase %> per month
          </div>

        </div>
      <% end %>

    </div>

  <% end %>
<% end %>