<% @student.bookmarks.each do |bookmark| %>
  <div class="four-column-course border margin-bottom">
    <%= link_to(instructor_course_path(bookmark.course.instructor, bookmark.course)) do %>
      <img class="thumbnail-image-feed-five" src="<%= bookmark.course.image_url(:thumb) %>">
    <% end %>
    <div class="padding-horizontal">
      <div class="padding-vertical-mini border-bottom">
        <%= link_to truncate(bookmark.course.title,length: 50), instructor_course_path(bookmark.course.instructor, bookmark.course) %>
      </div>
    </div>
    <div class="padding-horizontal">
      <div class="padding-vertical-mini border-bottom mini-text">
        <div class="flex">
          <div class="two-column-course">
            <%= link_to bookmark.course.instructor.username, instructor_path(bookmark.course.instructor) unless bookmark.course.instructor.profile.first_name.present? || bookmark.course.instructor.profile.last_name.present? %> 
            <%= link_to(instructor_path(bookmark.course.instructor)) do %>
              <%= bookmark.course.instructor.profile.first_name if bookmark.course.instructor.profile.first_name.present? %> <%= bookmark.course.instructor.profile.last_name if bookmark.course.instructor.profile.last_name.present? %>
            <% end %>
          </div>
          <div class="two-column-course right bold">
            <% if student_signed_in? && current_student.purchased?(bookmark.course) %>
              Owned
            <% elsif bookmark.course.paid? %>
              <%= bookmark.course.price %> <%= bookmark.course.currency %>
            <% else %>
              Free!
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-horizontal">
      <div class="padding-vertical-mini border-bottom mini-text">
        <% if bookmark.course.reviews.any? %>
          <span class="review-container">
            <ul>
              <% if bookmark.course.average_rating == 5 %>
                <li class="star-five"></li>
                <li class="star-five"></li>
                <li class="star-five"></li>
                <li class="star-five"></li>
                <li class="star-five"></li>
              <% elsif bookmark.course.average_rating == 4 %>
                <li class="star-five"></li>
                <li class="star-five"></li>
                <li class="star-five"></li>
                <li class="star-five"></li>
              <% elsif bookmark.course.average_rating == 3 %>
                <li class="star-five"></li>
                <li class="star-five"></li>
                <li class="star-five"></li>
              <% elsif bookmark.course.average_rating == 2 %>
                <li class="star-five"></li>
                <li class="star-five"></li>
              <% elsif bookmark.course.average_rating == 1 %>
                <li class="star-five"></li>
              <% end %><%= " - (" + bookmark.course.reviews.count.to_s + ")" %>
            </ul>
          </span>
        <% else %>
          No reviews yet.
        <% end %>
      </div>
    </div>

    <div class="padding-vertical-mini padding-horizontal mini-text">
      <%= truncate(bookmark.course.tagline, length: 140) %>
    </div>

    <% if student_signed_in? && current_student == @student %>
      <div class="padding-horizontal">
        <div class="padding-vertical link-color border-top">
          <%= link_to "Delete bookmark", instructor_course_bookmark_path(bookmark.course.instructor, bookmark.course, current_student.bookmark_id(bookmark.course)), method: :delete, class: "delete-button" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>