<%= provide(:title, "Create A Post") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">

      <div class="padding-bottom center mid-text border-bottom">
        Create a post
      </div>
      
      <%= form_for(@post, url: instructor_posts_path(@instructor)) do |f| %>
        <span id="post_errors"><%= render 'partials/errors/post_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <div class="padding-bottom border-bottom">
          <label class="image-button" for="post-image">Upload a post thumbnail</label>
          <%= f.hidden_field :image, value: @post.cached_image_data %>
          <span class="hidden"><%= f.file_field :image, id: "post-image" %></span>
          <div class="file-name"></div>
        </div>

        <div class="field padding-top">
          <%= f.label :content %>
          <%= f.text_area :content, class: "text-area" %>
        </div>

        <%= f.submit "Create post", data: { disable_with: 'Creating...' }, class: "submit-button" %>
      <% end %>

    </div>
  </div>
</div>