<%= provide(:title, "Edit A Blog Post") %>

<div class="mid-text padding-vertical border-bottom center">
  Edit <%= @post.title %>
</div>

<div class="form-container padding-vertical">
  <%= form_for(@post, url: blog_post_path) do |f| %>
    <div class="field">
      <%= f.text_field :title, placeholder: "Title", class: "text-field" %>
    </div>
    <div class="field">
      <%= f.text_field :image, placeholder: "Image", class: "text-field" %>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "Description", class: "text-area" %>
    </div>
    <div class="actions">
      <%= f.submit "Edit blog post", class: "submit-button" %>
    </div>
  <% end %>
</div>