<footer class="full-footer-container wrapper">
  <div class="container">
    <nav class="footer">
      <span><%= link_to "Ninth Valley", root_url, class: "nav-links" %></span>
      <ul>
        <li><%= link_to "Blog", blog_posts_path, class: "nav-links" %></li>
        <li><%= link_to "Updates", updates_path, class: "nav-links" %></li>
        <li><%= link_to "FAQ", faq_path, class: "nav-links" %></li>
        <li><%= link_to "Terms", terms_path, class: "nav-links" %></li>
        <li><%= link_to "Privacy", privacy_path, class: "nav-links" %></li>
        <li><%= link_to "About", about_path, class: "nav-links" %></li>
      </ul>
    </nav>
    <div class="footer-disclaimer padding-top">
      Built in Buffalo, New York, United States of America, Earth.
    </div>
    <div class="footer-disclaimer padding-bottom">
      There are <%= pluralize(Student.count, "student") %> watching <%= pluralize(Video.count, "video") %> in <%= pluralize(Course.count, "course") %> or reading <%= pluralize(Post.count, "post") %> created by <%= pluralize(Instructor.count, "instructors") %> on Ninth Valley right now.
    </div>
  </div>
</footer>