<div class="wrapper">
  <div class="header-container padding-vertical">
    <nav class="nav padding-horizontal">
      <div class="site-title">
        <a href="http://www.ninthvalley.com"><span class="bold">NINTH</span>VALLEY</a>
      </div>
      <div class="search-spacer">
        <div id="search-container">
          <%= text_field_tag :search, params[:search], placeholder: "I want to learn...", class: "search-field" %>
        </div>
      </div>
      <ul>
        <li><span id="search-icon"><svg class="search" width="12px" height="12px" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M364 1260 c-114 -37 -216 -117 -286 -224 -55 -85 -78 -168 -78 -280 0 -154 49 -273 154 -379 158 -157 398 -197 605 -100 l53 26 137 -135 c75 -75 147 -143 161 -152 13 -9 44 -16 68 -16 62 0 102 40 102 102 0 24 -7 55 -16 68 -9 14 -77 86 -152 161 l-135 137 26 53 c141 301 -14 650 -332 743 -77 23 -229 20 -307 -4z m311 -205 c206 -105 249 -373 86 -536 -203 -203 -548 -76 -569 210 -5 79 12 144 59 214 90 136 278 185 424 112z"/></g></svg></span></li>
        <% unless student_signed_in? || instructor_signed_in? %>
          <li><span id="sign-in">Sign in</span></li>
          <li><span id="register">Register</span></li>
        <% end %>
        <li><span id="menu-click">Menu</span></li>
      </ul>
    </nav>
  </div>
</div>

<div id="menu-container" class="side-header mid-text">
  <ul>
    <li id="close-menu">Close</li>
    <li><%= link_to "Discover", "#", class: "nav-links" %></li>
    <% if instructor_signed_in? %>
      <li><%= link_to "Your Page", instructor_path(current_instructor), class: "nav-links" %></li>
      <li><%= link_to "Purchases", 'user_purchases_path(current_user)', class: "nav-links" %></li>
      <li><%= link_to "Membership", 'edit_user_membership_path(current_user)', class: "nav-links" %></li>
      <li><%= link_to "Account Settings", edit_registration_path(current_instructor), class: "nav-links" %></li>
      <li><%= link_to "Sign Out", sign_out_path, class: "nav-links" %></li>

    <% elsif student_signed_in? %>
      <li><%= link_to "Your Page", student_path(current_student), class: "nav-links" %></li>
      <li><%= link_to "Purchases", 'user_purchases_path(current_user)', class: "nav-links" %></li>
      <li><%= link_to "Membership", 'edit_user_membership_path(current_user)', class: "nav-links" %></li>
      <li><%= link_to "Account Settings", edit_registration_path(current_student), class: "nav-links" %></li>
      <li><%= link_to "Sign Out", sign_out_path, class: "nav-links" %></li>

    <% else %>
      <li><span class="nav-links" id="menu-sign-in">Sign in</span></li>
      <li><span class="nav-links" id="menu-register">Register</span></li>
    <% end %>
  </ul>
</div>

<% unless instructor_signed_in? || student_signed_in? %>

  <div id="sign-in-form">
    <div class="profile-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Sign in as...
      </div>

      <div class="flex padding-vertical border-bottom">
        <div id="student-sign-in-click" class="two-column center active-tab">
          Student
        </div>
        <div id="instructor-sign-in-click" class="two-column center deactive-tab">
          Instructor
        </div>
      </div>


      <div id="student-sign-in-container" class="padding-top">
        <%= form_for(resource_student, as: resource_name_student, url: session_path(resource_name_student)) do |f| %>
          <div class="field">
            <%= f.label :login, "Username or email" %>
            <%= f.text_field :login, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %> <%= link_to "I forgot my password.", new_student_password_path, class: "mini-text" %>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <% if devise_mapping_student.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="border-bottom padding-bottom">
            <%= f.submit "Sign in", class: "submit-button" %>
          </div>
        <% end %>
      </div>


      <div id="instructor-sign-in-container" class="padding-top">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :login, "Username or email" %>
            <%= f.text_field :login, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %> <%= link_to "I forgot my password.", new_instructor_password_path, class: "mini-text" %>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="border-bottom padding-bottom">
            <%= f.submit "Sign in", class: "submit-button" %>
          </div>
        <% end %>
      </div>

      <div class="padding-top">
        <%= link_to "But I don't have an account yet.", register_path %>
      </div>

    </div>
  </div>

  <div id="register-form">
    <div class="profile-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Register as...
      </div>

      <div class="flex padding-vertical border-bottom">
        <div id="student-register-click" class="two-column center active-tab">
          Student
        </div>
        <div id="instructor-register-click" class="two-column center deactive-tab">
          Instructor
        </div>
      </div>

      <div id="student-register-container" class="padding-top">
        <%= form_for(resource_student, as: resource_name_student, url: registration_path(resource_name_student)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %> <span class="dark mini-text"><%= @minimum_password_length.to_s + " characters minimum." if @minimum_password_length %></span>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="border-bottom padding-bottom">
            <%= f.submit "Register", class: "submit-button" %>
          </div>
        <% end %>
      </div>


      <div id="instructor-register-container" class="padding-top">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %> <span class="dark mini-text"><%= @minimum_password_length.to_s + " characters minimum." if @minimum_password_length %></span>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="border-bottom padding-bottom">
            <%= f.submit "Register", class: "submit-button" %>
          </div>
        <% end %>
      </div>

      <div class="padding-top">
        <%= link_to "But I already have an account.", sign_in_path %>
      </div>

    </div>

    <div class="profile-form-inside">
      
      <div id="why-student">
        <div class="padding-bottom center mid-text border-bottom">
          Why be a student?
        </div>
        <div class="padding-top">
          This is why, dude.
        </div>
        <div class="padding-top">
          Because it's gonna be sweet!
        </div>
        <div class="padding-top">
          And some other things.
        </div>
      </div>

      <div id="why-instructor">
        <div class="padding-bottom center mid-text border-bottom">
          Why be an instructor?
        </div>
        <div class="padding-top">
          You get to teach people stuff!
        </div>
        <div class="padding-top">
          And make money from it!
        </div>
        <div class="padding-top">
          And other reasons!
        </div>
      </div>

    </div>

  </div>

<% end %>