<footer class="full-footer-container wrapper dark-background">
  <div class="container">

    <div class="flex mid-container">

      <div class="four-column">
        <div class="home-footer">
          <ul>
            <li><%= link_to "Terms of Use", terms_path, class: "nav-links" %></li>
            <li><%= link_to "Privacy", privacy_path, class: "nav-links" %></li>
          </ul>
        </div>
      </div>

      <div class="four-column">
        <div class="home-footer">
          <ul>
            <li><%= link_to "Blog", blog_posts_path, class: "nav-links" %></li>
            <li><%= link_to "Updates", updates_path, class: "nav-links" %></li>
            <li><%= link_to "FAQ", faq_path, class: "nav-links" %></li>
            <li><%= link_to "About", about_path, class: "nav-links" %></li>
            <li><%= link_to "Categories", categories_path, class: "nav-links" %></li>
          </ul>
        </div>
      </div>

      <div class="four-column">
        <div class="home-footer">
          <ul>
            <li><%= link_to "Facebook", "https://facebook.com/ninthvalley", :target => "_blank", class: "facebook" %></li>
            <li><%= link_to "Twitter", "https://twitter.com/ninthvalley", :target => "_blank", class: "twitter" %></li>
            <li><%= link_to "YouTube", "https://www.youtube.com/channel/UCZaUpn3Lk-3Df1ixPNaVlfA", :target => "_blank", class: "youtube" %></li>
            <li><%= link_to "Google+", "https://plus.google.com/ninthvalley", :target => "_blank", class: "googleplus" %></li>
            <li><%= link_to "Instagram", "https://instagram.com/ninthvalley", :target => "_blank", class: "instagram" %></li>
            <li><%= link_to "tumblr.", "https://ninthvalley.tumblr.com/", :target => "_blank", class: "tumblr" %></li>
            <li><%= link_to "Pinterest", "https://pinterest.com/ninthvalley", :target => "_blank", class: "pinterest" %></li>
          </ul>
        </div>
      </div>

      <div class="four-column">
        <div class="home-footer">
          <ul>
            <li><%= link_to "Terms of Use", terms_path, class: "nav-links" %></li>
            <li><%= link_to "Privacy", privacy_path, class: "nav-links" %></li>
          </ul>
        </div>
      </div>


    </div>


    <div class="home-footer-disclaimer padding-top">
      Built in Buffalo, New York, United States of America, Earth.
    </div>
  </div>
</footer>