<%= provide(:title, "Categories") %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">
        Categories
      </div>

      <div class="padding-vertical border-bottom">

        <img class="tall-thumbnail-image" srcset="https://i.imgur.com/z6Qqgxa.jpg" width="100%" height="auto">

        <div class="padding-top">
          All the categories for Ninth Valley!
        </div>
      </div>

    </div>


    <div class="body-container">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <% @categories.each do |category| %>
              <li><%= link_to category.title, category_path(category) %></li>
            <% end %>
          </ul>
        </aside>

        <main class="content">

          <div class="padding-bottom border-bottom">
            <div class="mid-text padding-bottom">
              Popular
            </div>
            <div class="">
              <div class="flex">
                <div class="five-column">

                </div>
              </div>
            </div>
          </div>

          <% @categories.each do |category| %>
            <div class="padding-vertical border-bottom">
              <div class="mid-text padding-bottom">
                <%= link_to category.title, category_path(category) %>
              </div>

              <div class="flex">
                <% category.courses.take(8).each do |course| %>
                  <div class="four-column-course border margin-bottom">
                    <%= link_to(instructor_course_path(course.instructor, course)) do %>
                      <img class="thumbnail-image-feed-five" src="<%= course.image_url(:thumb) %>">
                    <% end %>
                    <div class="padding-horizontal">
                      <div class="padding-vertical border-bottom">
                        <%= link_to course.title, instructor_course_path(course.instructor, course) %>
                      </div>
                    </div>
                    <div class="padding-vertical padding-horizontal mini-text">
                      <%= truncate(course.tagline, length: 140) %>
                    </div>
                  </div>
                <% end %>
              </div>

            </div>
          <% end %>

        </main>

      </div>
    </div>

  </div>
</div>