<%= provide(:title, sanitize(@subcategory.title)) %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">

        <%= @subcategory.title %>

        <span class="hard-text"> | <%= pluralize(@subcategory.courses.count, "Course") %></span>
      </div>

      <div class="padding-vertical border-bottom">

        <img srcset="<%= @subcategory.image %>" width="100%" height="auto">

        <div class="padding-top">
          <%= @subcategory.description %>
        </div>
      </div>

    </div>


    <div class="body-container padding-vertical">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <li><span id="first-tab-click" class="active-sidebar-tab">Popular</span></li>
            <li><span id="second-tab-click" class="inactive-sidebar-tab">Recent</span></li>
          </ul>
        </aside>


        <main class="content">

          <div id="first-tab">
            <div class="padding-bottom mid-text">
              Popular
            </div>
            <div class="flex">
              <% category.courses.each do |course| %>
                <div class="four-column-course border margin-bottom">
                  <%= link_to(instructor_course_path(course.instructor, course)) do %>
                    <img class="thumbnail-image-feed-five" src="<%= course.image_url(:thumb) %>">
                  <% end %>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom">
                      <%= link_to truncate(course.title,length: 50), instructor_course_path(course.instructor, course) %>
                    </div>
                  </div>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <%= link_to course.instructor.username, instructor_path(course.instructor) unless course.instructor.profile.first_name.present? || course.instructor.profile.last_name.present? %> 
                      <%= link_to(instructor_path(course.instructor)) do %>
                        <%= course.instructor.profile.first_name if course.instructor.profile.first_name.present? %> <%= course.instructor.profile.last_name if course.instructor.profile.last_name.present? %>
                      <% end %>
                    </div>
                  </div>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <% if course.paid? %>
                        <%= course.price %> <%= course.currency %>
                      <% else %>
                        Free!
                      <% end %>
                    </div>
                  </div>

                  <% if course.reviews.any? %>
                    <div class="padding-horizontal">
                      <div class="padding-vertical-mini border-bottom mini-text">
                        <span class="review-container">
                          <ul>
                            <% if course.average_rating == 5 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 4 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 3 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 2 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 1 %>
                              <li class="star-five"></li>
                            <% end %><%= " - (" + course.reviews.count.to_s + ")" %>
                          </ul>
                        </span>
                      </div>
                    </div>
                  <% end %>

                  <div class="padding-vertical-mini padding-horizontal mini-text">
                    <%= truncate(course.tagline, length: 140) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div id="second-tab">
            <div class="padding-bottom mid-text">
              Recent
            </div>
            <div class="flex">
              <% category.courses.each do |course| %>
                <div class="four-column-course border margin-bottom">
                  <%= link_to(instructor_course_path(course.instructor, course)) do %>
                    <img class="thumbnail-image-feed-five" src="<%= course.image_url(:thumb) %>">
                  <% end %>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom">
                      <%= link_to truncate(course.title,length: 50), instructor_course_path(course.instructor, course) %>
                    </div>
                  </div>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <%= link_to course.instructor.username, instructor_path(course.instructor) unless course.instructor.profile.first_name.present? || course.instructor.profile.last_name.present? %> 
                      <%= link_to(instructor_path(course.instructor)) do %>
                        <%= course.instructor.profile.first_name if course.instructor.profile.first_name.present? %> <%= course.instructor.profile.last_name if course.instructor.profile.last_name.present? %>
                      <% end %>
                    </div>
                  </div>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <% if course.paid? %>
                        <%= course.price %> <%= course.currency %>
                      <% else %>
                        Free!
                      <% end %>
                    </div>
                  </div>

                  <% if course.reviews.any? %>
                    <div class="padding-horizontal">
                      <div class="padding-vertical-mini border-bottom mini-text">
                        <span class="review-container">
                          <ul>
                            <% if course.average_rating == 5 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 4 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 3 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 2 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 1 %>
                              <li class="star-five"></li>
                            <% end %><%= " - (" + course.reviews.count.to_s + ")" %>
                          </ul>
                        </span>
                      </div>
                    </div>
                  <% end %>

                  <div class="padding-vertical-mini padding-horizontal mini-text">
                    <%= truncate(course.tagline, length: 140) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </main>

      </div>
    </div>

  </div>
</div>