<%= provide(:title, "Your Subscription") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">

      <div class="padding-bottom center mid-text border-bottom">
        Edit your subscription
      </div>

      <div class="padding-top">
        <%= form_for(@instructor, url: instructor_update_plan_path) do |f| %>
          <% if @instructor.plan_id == @instructor.id.to_s %>
            <div class="field">
              <%= f.label :plan_amount, "Amount" %><span class="dark mini-text"> You currently do not have a subscription.</span>
              <%= f.number_field :plan_amount, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :currency %>
              <%= f.select :currency, options_for_select(currency) %>
            </div>
          <% elsif @instructor.plan_id == (@instructor.username. + "_" + @instructor.id.to_s) %>
            <div class="field">
              <%= f.label :plan_amount, "Amount" %><span class="dark mini-text"> Your subscription currently costs <%= @amount %> <%= @plan.currency.upcase %>.</span>
              <%= f.text_field :plan_amount, class: "text-field" %>
            </div>
            <div class="field">
              <%= f.label :currency %>
              <%= f.select :currency, options_for_select(currency) %>
            </div>
          <% end %>
          <%= f.submit "Update subscription", data: { disable_with: 'Updating...' }, class: "submit-button" %>
        <% end %>
      </div>

    </div>
  </div>
</div>