<% if @instructor.profile.first_name.present? && @instructor.profile.last_name.present? %>
  <%= provide(:title, sanitize(@instructor.profile.first_name) + " " + sanitize(@instructor.profile.last_name)) %>
<% else %>
  <%= provide(:title, sanitize(@instructor.username)) %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">

        <%= link_to @instructor.username, instructor_path(@instructor) unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> 
        <%= link_to(instructor_path(@instructor)) do %>
          <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %>
        <% end %>

      </div>

      <div class="flex padding-vertical border-bottom">

        <div class="profile-picture-container">
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="profile-button-click">
                Edit Profile
              </div>
            </div>
          <% end %>

          <% if @instructor.profile.image_url(:thumb).present? %>
            <img class="thumbnail-image" src="<%= @instructor.profile.image_url(:thumb) %>">
          <% end %>
        </div>

        <div class="profile-info-container">
          <div class="padding-bottom">
            <% if @plan.present? %>
              <% if instructor_signed_in? && @instructor == current_instructor %>
                <div class="free-card center">
                  <div class="padding-horizontal">
                    Your subscription is <%= @amount %> <%= @plan.currency.upcase %> per month.
                  </div>
                </div>
              <% elsif student_signed_in? && current_student.subscribed?(@instructor) %>
                <div class="free-card center">
                  <div class="padding-horizontal">
                    You are already subscribed! <span id="unsubscribe-button-click">Unsubscribe?</span>
                  </div>
                </div>
              <% elsif student_signed_in? %>
                <div id="purchase-button-click">
                  Subscribe to <%= @instructor.username unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %> for <%= @amount %> <%= @plan.currency.upcase %> per month.
                </div>
              <% else %>
                <div id="purchase-button-click">
                  Subscribe to <%= @instructor.username unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %> for <%= @amount %> <%= @plan.currency.upcase %> per month.
                </div>
              <% end %>
            <% else %>
              <% if instructor_signed_in? && @instructor == current_instructor %>
                <div class="free-card center">
                  <div class="padding-horizontal">
                    You do not have a subscription plan.
                  </div>
                </div>
              <% else %>
                <div class="free-card center">
                  <div class="padding-horizontal">
                    You cannot subscribe to this instructor.
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="padding-bottom">
            Instructor | <%= pluralize(@instructor.courses.count, "Course") %> | <%= pluralize(@instructor.subscriptions.count, "Subscription") %> | <%= pluralize(@instructor.subscriptions.count + @instructor.purchases.count, "Student") %> | <%= pluralize(@instructor.reviews.count, "Review") %>
          </div>
          <div class="padding-bottom">
            <%= @instructor.profile.city if @instructor.profile.city.present? %><%= ", " if @instructor.profile.city.present? && (@instructor.profile.state.present? || @instructor.profile.country.present?) %><%= @instructor.profile.state if @instructor.profile.state.present? %><%= ", " if @instructor.profile.state.present? && @instructor.profile.country.present? %><%= @instructor.profile.country if @instructor.profile.country.present? %> 

            <%= "|" if (@instructor.profile.city.present? || @instructor.profile.state.present? || @instructor.profile.country.present?) && (@instructor.profile.website.present? || @instructor.profile.twitter_url.present? || @instructor.profile.youtube_url.present?) %> <%= link_to "Website", @instructor.profile.website, target: :_blank if @instructor.profile.website.present? %> <%= "|" if @instructor.profile.website.present? && (@instructor.profile.twitter_url.present? || @instructor.profile.youtube_url.present?) %> <%= link_to "Twitter", @instructor.profile.twitter_url, target: :_blank, class: "twitter" if @instructor.profile.twitter_url.present? %> <%= "|" if @instructor.profile.twitter_url.present? && @instructor.profile.youtube_url.present? %> <%= link_to "YouTube", @instructor.profile.youtube_url, target: :_blank, class: "youtube" if @instructor.profile.youtube_url.present? %>
          </div>
          <div class="padding-bottom">
            <%= @instructor.profile.biography %>
          </div>
        </div>

      </div>

    </div>


    <div class="body-container">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <li><span id="first-tab-click" class="active-sidebar-tab">Overview</span></li>
            <li><span id="second-tab-click" class="inactive-sidebar-tab">Courses</span></li>
            <li><span id="third-tab-click" class="inactive-sidebar-tab">Posts</span></li>
            <% if instructor_signed_in? && @instructor == current_instructor %>
              <li><span id="fourth-tab-click" class="inactive-sidebar-tab">Notifications 
                <span class="notifications_count"><%= render 'instructors/partials/notifications/notifications_count' %></span>
              </li>
              <li><span id="fifth-tab-click" class="inactive-sidebar-tab">Messages</span></li>
              <% if @instructor.purchases.any? %>
                <li><span id="sixth-tab-click" class="inactive-sidebar-tab">Purchases</span></li>
              <% end %>
              <% if @instructor.subscriptions.any? %>
                <li><span id="seventh-tab-click" class="inactive-sidebar-tab">Subscriptions</span></li>
              <% end %>
            <% end %>
          </ul>
        </aside>

        <main class="content">
          
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="flex padding-bottom">
              <div class="four-column">
                <div id="post-button-click">
                  Create a post
                </div>
              </div>
              <div class="seventy-column">
                <div id="course-button-click">
                  Create a course
                </div>
              </div>
            </div>
          <% end %>

          <div id="first-tab">

            <div class="padding-bottom mid-text">
              Popular courses 
            </div>

            <div class="flex">
              <% @popular_courses.each do |course| %>
                <div class="four-column-course border margin-bottom">
                  <%= link_to(instructor_course_path(course.instructor, course)) do %>
                    <img class="thumbnail-image-feed-five" src="<%= course.image_url(:thumb) %>">
                  <% end %>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom">
                      <%= link_to truncate(course.title,length: 50), instructor_course_path(course.instructor, course) %>
                    </div>
                  </div>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <div class="flex">
                        <div class="two-column-course">
                          <%= link_to course.instructor.username, instructor_path(course.instructor) unless course.instructor.profile.first_name.present? || course.instructor.profile.last_name.present? %> 
                          <%= link_to(instructor_path(course.instructor)) do %>
                            <%= course.instructor.profile.first_name if course.instructor.profile.first_name.present? %> <%= course.instructor.profile.last_name if course.instructor.profile.last_name.present? %>
                          <% end %>
                        </div>
                        <div class="two-column-course right bold">
                          <% if student_signed_in? && current_student.purchased?(course) %>
                            Owned
                          <% elsif course.paid? %>
                            <%= course.price %> <%= course.currency %>
                          <% else %>
                            Free!
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <% if course.reviews.any? %>
                        <span class="review-container">
                          <ul>
                            <% if course.average_rating == 5 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 4 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 3 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 2 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 1 %>
                              <li class="star-five"></li>
                            <% end %><%= " - (" + course.reviews.count.to_s + ")" %>
                          </ul>
                        </span>
                      <% else %>
                        No reviews yet.
                      <% end %>
                    </div>
                  </div>

                  <div class="padding-vertical-mini padding-horizontal mini-text">
                    <%= truncate(course.tagline, length: 140) %>
                  </div>
                </div>
              <% end %>
            </div>

            <% if @posts.any? %>

              <div class="padding-bottom mid-text">
                Recent posts
              </div>

              <% @posts.take(2).each do |post| %>
                <div class="flex padding-vertical border-bottom">
                  <div class="four-column">
                    <img class="short-thumbnail-image" src="<%= post.image_url(:thumb) %>">
                  </div>
                  <div class="seventy-column">
                    <div class="mid-text">
                      <%= link_to post.title, instructor_post_path(@instructor, post) %> 
                    </div>
                    <div class="mini-text padding-bottom">
                      <%= post.created_at.strftime("Posted on %m.%d.%Y") %>
                    </div>
                    <div class="post-content">
                      <%= sanitize(truncate(post.content, length: 300)) %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>

          <div id="second-tab">
            <div class="padding-bottom mid-text">
              Courses 
            </div>

            <div class="flex">
              <% @courses.each do |course| %>
                <div class="four-column-course border margin-bottom">
                  <%= link_to(instructor_course_path(course.instructor, course)) do %>
                    <img class="thumbnail-image-feed-five" src="<%= course.image_url(:thumb) %>">
                  <% end %>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom">
                      <%= link_to truncate(course.title,length: 50), instructor_course_path(course.instructor, course) %>
                    </div>
                  </div>
                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <div class="flex">
                        <div class="two-column-course">
                          <%= link_to course.instructor.username, instructor_path(course.instructor) unless course.instructor.profile.first_name.present? || course.instructor.profile.last_name.present? %> 
                          <%= link_to(instructor_path(course.instructor)) do %>
                            <%= course.instructor.profile.first_name if course.instructor.profile.first_name.present? %> <%= course.instructor.profile.last_name if course.instructor.profile.last_name.present? %>
                          <% end %>
                        </div>
                        <div class="two-column-course right bold">
                          <% if student_signed_in? && current_student.purchased?(course) %>
                            Owned
                          <% elsif course.paid? %>
                            <%= course.price %> <%= course.currency %>
                          <% else %>
                            Free!
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="padding-horizontal">
                    <div class="padding-vertical-mini border-bottom mini-text">
                      <% if course.reviews.any? %>
                        <span class="review-container">
                          <ul>
                            <% if course.average_rating == 5 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 4 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 3 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 2 %>
                              <li class="star-five"></li>
                              <li class="star-five"></li>
                            <% elsif course.average_rating == 1 %>
                              <li class="star-five"></li>
                            <% end %><%= " - (" + course.reviews.count.to_s + ")" %>
                          </ul>
                        </span>
                      <% else %>
                        No reviews yet.
                      <% end %>
                    </div>
                  </div>

                  <div class="padding-vertical-mini padding-horizontal mini-text">
                    <%= truncate(course.tagline, length: 140) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>



          <div id="third-tab">
            <div class="mid-text">
              Posts 
            </div>

            <% if @posts.any? %>
              <% @posts.each do |post| %>
                <div class="flex padding-vertical border-bottom">
                  <div class="four-column">
                    <img class="short-thumbnail-image" src="<%= post.image_url(:thumb) %>">
                  </div>
                  <div class="seventy-column">
                    <div class="mid-text">
                      <%= link_to post.title, instructor_post_path(@instructor, post) %> 
                    </div>
                    <div class="mini-text padding-bottom">
                      <%= post.created_at.strftime("Posted on %m.%d.%Y") %>
                    </div>
                    <div class="post-content">
                      <%= sanitize(truncate(post.content, length: 300)) %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="padding-vertical">
                There are no posts.
              </div>
            <% end %>

          </div>

          <% if instructor_signed_in? && current_instructor == @instructor %>

            <div id="fourth-tab">
              <span class="notifications_container"><%= render 'instructors/partials/notifications/notifications_container' %></span>
            </div>



            <div id="fifth-tab">
              <div class="padding-bottom mid-text">
                Messages 
              </div>

              

            </div>



            <% if @instructor.purchases.any? %>
              <div id="sixth-tab">
                <div class="padding-bottom mid-text">
                  Purchases 
                </div>

                <div class="flex">
                  <% @instructor.purchases.each do |purchase| %>
                    <div class="four-column-course border margin-bottom">
                      <%= link_to(instructor_course_path(@instructor, purchase.course)) do %>
                        <img class="thumbnail-image-feed-five" src="<%= purchase.course.image_url(:thumb) %>">
                      <% end %>
                      <div class="padding-horizontal">
                        <div class="padding-vertical-mini border-bottom">
                          <%= link_to truncate(purchase.course.title, length: 50), instructor_course_path(@instructor, purchase.course) %>
                        </div>
                      </div>
                      <div class="padding-horizontal">
                        <div class="padding-vertical-mini border-bottom mini-text">
                          <div class="flex">
                            <div class="two-column-course">
                              <%= link_to purchase.student.username, student_path(purchase.student) unless purchase.student.profile.first_name.present? || purchase.student.profile.last_name.present? %> 
                              <%= link_to(student_path(purchase.student)) do %>
                                <%= purchase.student.profile.first_name if purchase.student.profile.first_name.present? %> <%= purchase.student.profile.last_name if purchase.student.profile.last_name.present? %>
                              <% end %>
                            </div>
                            <div class="two-column-course right bold">
                              <%= purchase.price %> <%= purchase.currency %>
                            </div>
                          </div>
                        </div>
                      </div>

                      <% if purchase.stripe_charge_id.starts_with?("ch") %>
                        <div class="padding-horizontal">
                          <div class="padding-vertical-mini mini-text">
                            <% if purchase.course.refund_policy == "three" && purchase.created_at > 3.days.ago %>
                              <%= (purchase.created_at + 3.days).strftime("Refundable until %m.%d.%Y") %>
                            <% elsif purchase.course.refund_policy == "seven" && purchase.created_at > 7.days.ago %>
                              <%= (purchase.created_at + 7.days).strftime("Refundable until %m.%d.%Y") %>
                            <% else %>
                              This course cannot be refunded.
                            <% end %>
                          </div>
                        </div>
                      <% else %> 
                        <div class="padding-horizontal">
                          <div class="padding-vertical border-top ">
                            This course was refunded for <%= purchase.price %> <% purchase.currency %>.
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>

              </div>
            <% end %>


            <% if @instructor.subscriptions.any? %>
              <div id="seventh-tab">
                <div class="padding-bottom mid-text">
                  Subscriptions 
                </div>

                <% @instructor.subscriptions.each do |subscription| %>
                  <div class="four-column-course border margin-bottom">
                    <%= link_to(instructor_path(subscription.instructor)) do %>
                      <img class="thumbnail-image-feed-five" src="<%= subscription.instructor.profile.image_url(:thumb) %>">
                    <% end %>
                    <div class="padding-horizontal">
                      <div class="padding-vertical-mini">

                        <div class="flex">
                          <div class="two-column">
                            <%= link_to subscription.student.username, student_path(subscription.student) unless subscription.student.profile.first_name.present? || subscription.student.profile.last_name.present? %> 
                            <%= link_to(student_path(subscription.student)) do %>
                              <%= subscription.student.profile.first_name if subscription.student.profile.first_name.present? %> <%= subscription.student.profile.last_name if subscription.student.profile.last_name.present? %>
                            <% end %>
                          </div>
                          <div class="two-column right">
                            <%= BigDecimal(Stripe::Plan.retrieve(@instructor.plan_id, stripe_account: @instructor.merchant.stripe_id).amount / 100) %> <%= Stripe::Plan.retrieve(@instructor.plan_id, stripe_account: @instructor.merchant.stripe_id).currency.upcase %>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                <% end %>

              </div>
            <% end %>

          <% end %>

        </main>

      </div>
    </div>

  </div>
</div>

<% if instructor_signed_in? && current_instructor == @instructor %>

  <div id="profile-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Edit your profile
      </div>

      <%= form_for(@profile, url: instructor_profile_path(@instructor)) do |f| %>
        <span id="profile_errors"><%= render 'partials/errors/profile_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "text-field" %>
        </div>

        <% if @profile.image_data? %>
          <div class="field">
            <img class="thumbnail-image" src="<%= @instructor.profile.image_url(:thumb) %>">
          </div>
          <div class="flex border-bottom">
            <div class="field-two-column center">
              <label class="image-button" for="profile-image">Upload a profile image</label>
              <%= f.hidden_field :image, value: @profile.cached_image_data %>
              <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
            </div>
            <div class="field-two-column center">
              <label class="inactive-removal-tab" id="remove-image-tab" for="remove-image-inactive">Remove image</label>
              <span class="hidden"><%= f.check_box :remove_image, id: "remove-image-inactive" %></span>
            </div>
          </div>
        <% else %>
          <div class="padding-bottom border-bottom">
            <label class="image-button" for="profile-image">Upload a profile image</label>
            <%= f.hidden_field :image, value: @profile.cached_image_data %>
            <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
          </div>
        <% end %>

        <div class="field padding-top">
          <%= f.label :city %>
          <%= f.text_field :city, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :country %>
          <%= f.text_field :country, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_handle %>
          <%= f.text_field :twitter_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :youtube_handle %>
          <%= f.text_field :youtube_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :biography %>
          <%= f.text_area :biography, class: "text-area" %>
        </div>

        <%= f.submit "Update profile", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>




  <div id="course-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Create your course
      </div>

      <%= form_for(@course, url: instructor_courses_path(@instructor)) do |f| %>
        <span id="course_errors"><%= render 'partials/errors/course_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <div class="field">
          <%= f.label :category_id %>
          <%= f.hidden_field :category_id %>
          <%= f.collection_select(:category_id, Category.all, :id, :title) %>
        </div>

        <div class="padding-bottom border-bottom">
          <label class="image-button" for="course-image">Upload a course thumbnail</label>
          <%= f.hidden_field :image, value: @course.cached_image_data %>
          <span class="hidden"><%= f.file_field :image, id: "course-image" %></span>
        </div>
        
        <div class="field padding-top">
          <%= f.label :tagline %>
          <%= f.text_field :tagline, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :language %>
          <%= f.select :language, options_for_select(language) %>
        </div>
        <div class="field">
          <%= f.label :highlights %>
          <%= f.text_area :highlights, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :requirements %>
          <%= f.text_area :requirements, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :target %>
          <%= f.text_area :target, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "text-area" %>
        </div>

        <% if @instructor.merchant.present? %>
          <div class="field">
            <label class="inactive-paid-tab" id="paid-tab" for="paid-inactive">Pay for course</label>
            <span class="hidden"><%= f.check_box :paid, id: "paid-inactive" %></span>
          </div>


          <div id="paid-container">
            <div class="flex">
              <div class="field-three-column">
                <%= f.label :price %>
                <%= f.text_field :price, class: "text-field" %>
              </div>
              <div class="field-three-column">
                <%= f.label :currency %>
                <%= f.select :currency, options_for_select(currency) %>
              </div>
              <div class="field-three-column">
              <%= f.label :refund_policy %>
              <%= f.select :refund_policy, options_for_select([["None", :zero], ["3 days", :three], ["7 days", :seven]]) %>
            </div>
            </div>
          </div>
        <% else %>
          <div class="field center">
            In order to sell a course you must first become a <%= link_to "Merchant", new_instructor_merchant_path(current_instructor) %>.
          </div>
        <% end %>

        <%= f.submit "Create course", data: { disable_with: 'Creating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>


  <div id="post-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Create a post
      </div>

      <%= form_for(@post, url: instructor_posts_path(@instructor)) do |f| %>
        <span id="post_errors"><%= render 'partials/errors/post_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <div class="padding-bottom border-bottom">
          <label class="image-button" for="post-image">Upload a post thumbnail</label>
          <%= f.hidden_field :image, value: @post.cached_image_data %>
          <span class="hidden"><%= f.file_field :image, id: "post-image" %></span>
        </div>

        <div class="field padding-top">
          <%= f.label :content %>
          <%= f.text_area :content, class: "text-area" %>
        </div>

        <%= f.submit "Create post", data: { disable_with: 'Creating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>

<% elsif student_signed_in? && !current_student.subscribed?(@instructor) %>

  <div id="purchase-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Subscribe to <%= @instructor.username unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %> 
      </div>

      <% if @customer.default_source.blank? %>
        <div class="padding-vertical">
          You do not have a card on file. In order to subscribe to instructors you need to place a card on file that can be charged monthly. You can cancel any subscription at any time.
        </div>
        <%= link_to "Place card on file", student_edit_source_path(current_student), class: "fake-button" %>
      <% else %>
        <div class="padding-vertical">
          You have a card on file. Pressing "Subscribe" will automatically finish this process, including charging your card. If you'd like to change your card, <%= link_to "please do so before continuing", student_edit_source_path(current_student) %>.
        </div>

        <%= form_for(@subscription, url: instructor_subscriptions_path(@instructor)) do |f| %>

          <%= f.submit "Subscribe", data: { disable_with: 'Subscribing...' }, class: "submit-button" %>
        <% end %>
      <% end %>

    </div>
  </div>

<% else %>

  <div id="purchase-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-top">
        You must <%= link_to "Register", new_student_registration_path %> or <%= link_to "Sign in", student_session_path %> as a student to subscribe to <%= @instructor.username unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %>.
      </div>

      
    </div>
  </div>

<% end %>

<% if student_signed_in? && current_student.subscribed?(@instructor) %>
  
  <div id="unsubscribe-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Unsubscribe from <%= @instructor.username unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %> 
      </div>

      <div class="padding-vertical">
        Unsubscribing from <%= @instructor.username unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %> will mean that you are no longer able to view any purchasable course by this instructor unless already purchased, purchased in the future, or subscribed again. You will not be able to get a refund on any purchased time spent subscribed and your subscription will be deleted immediately. 
      </div>

      <%= link_to "Unsubscribe", instructor_subscription_path(@instructor, current_student.subscription_id(@instructor)), data: { confirm: "Are you sure?" }, method: :delete, class: "delete-button" %>

    </div>
  </div>

<% end %>