<% if @instructor.profile.first_name.present? && @instructor.profile.last_name.present? %>
  <%= provide(:title, sanitize(@instructor.profile.first_name) + " " + sanitize(@instructor.profile.last_name)) %>
<% else %>
  <%= provide(:title, sanitize(@instructor.username)) %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">

        <%= link_to @instructor.username, instructor_path(@instructor) unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %> 
        <%= link_to(instructor_path(@instructor)) do %>
          <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %>
        <% end %>

      </div>

      <div class="flex padding-vertical border-bottom">

        <div class="profile-picture-container">
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="profile-button-click">
                Edit Profile
              </div>
            </div>
          <% end %>

          <% if @instructor.profile.image_url(:thumb).present? %>
            <img class="thumbnail-image" src="<%= @instructor.profile.image_url(:thumb) %>">
          <% end %>
        </div>

        <div class="profile-info-container">
          <div class="padding-bottom">
            Instructor | <%= pluralize(@instructor.courses.count, "Course") %> | 3 Students | <%= pluralize(@instructor.reviews.count, "Review") %>
          </div>
          <div class="padding-bottom">
            <%= @instructor.profile.city if @instructor.profile.city.present? %><%= ", " if @instructor.profile.city.present? && (@instructor.profile.state.present? || @instructor.profile.country.present?) %><%= @instructor.profile.state if @instructor.profile.state.present? %><%= ", " if @instructor.profile.state.present? && @instructor.profile.country.present? %><%= @instructor.profile.country if @instructor.profile.country.present? %> 

            <%= "|" if (@instructor.profile.city.present? || @instructor.profile.state.present? || @instructor.profile.country.present?) && (@instructor.profile.website.present? || @instructor.profile.twitter_url.present? || @instructor.profile.youtube_url.present?) %> <%= link_to "Website", @instructor.profile.website, target: :_blank if @instructor.profile.website.present? %> <%= "|" if @instructor.profile.website.present? && (@instructor.profile.twitter_url.present? || @instructor.profile.youtube_url.present?) %> <%= link_to "Twitter", @instructor.profile.twitter_url, target: :_blank, class: "twitter" if @instructor.profile.twitter_url.present? %> <%= "|" if @instructor.profile.twitter_url.present? && @instructor.profile.youtube_url.present? %> <%= link_to "YouTube", @instructor.profile.youtube_url, target: :_blank, class: "youtube" if @instructor.profile.youtube_url.present? %>
          </div>
          <div class="padding-bottom">
            <%= @instructor.profile.biography %>
          </div>
        </div>

      </div>

    </div>


    <div class="body-container padding-vertical">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <li>Overview</li>
            <li>Courses</li>
            <li>Posts</li>
          </ul>
        </aside>

        <main class="content">
          
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="course-button-click">
                Create a course
              </div>
            </div>
          <% end %>

          <% @popular_courses.each do |course| %>
            <div class="four-column border shadow margin-bottom">
              <%= link_to(instructor_course_path(@instructor, course)) do %>
                <img class="thumbnail-image-feed-five" src="<%= course.image_url(:thumb) %>">
              <% end %>
              <div class="padding-horizontal">
                <div class="padding-vertical border-bottom">
                  <%= link_to course.title, instructor_course_path(@instructor, course) %>
                </div>
              </div>
              <div class="padding-vertical padding-horizontal mini-text">
                <%= course.tagline %>
              </div>
            </div>
          <% end %>



        </main>

      </div>
    </div>



  </div>
</div>

<% if instructor_signed_in? && current_instructor == @instructor %>

  <div id="profile-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Edit your profile
      </div>

      <%= form_for(@profile, url: instructor_profile_path(@instructor)) do |f| %>
        <span id="profile_errors"><%= render 'partials/errors/profile_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "text-field" %>
        </div>

        <% if @profile.image_data? %>
          <div class="field">
            <img class="thumbnail-image" src="<%= @instructor.profile.image_url(:thumb) %>">
          </div>
          <div class="flex border-bottom">
            <div class="field-two-column center">
              <label class="image-button" for="profile-image">Upload a profile image</label>
              <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
            </div>
            <div class="field-two-column center">
              <label class="inactive-removal-tab" id="remove-image-tab" for="remove-image-inactive">Remove image</label>
              <span class="hidden"><%= f.check_box :remove_image, id: "remove-image-inactive" %></span>
            </div>
          </div>
        <% else %>
          <div class="padding-bottom border-bottom">
            <label class="image-button" for="profile-image">Upload a profile image</label>
              <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
          </div>
        <% end %>

        <div class="field padding-top">
          <%= f.label :city %>
          <%= f.text_field :city, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :country %>
          <%= f.text_field :country, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_handle %>
          <%= f.text_field :twitter_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :youtube_handle %>
          <%= f.text_field :youtube_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :biography %>
          <%= f.text_area :biography, class: "text-area" %>
        </div>

         <%= f.submit "Update profile", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>




  <div id="course-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Create your course
      </div>

      <%= form_for(@course, url: instructor_courses_path(@instructor)) do |f| %>
        <span id="course_errors"><%= render 'partials/errors/course_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <div class="padding-bottom border-bottom">
          <label class="image-button" for="course-image">Upload a course thumbnail</label>
            <span class="hidden"><%= f.file_field :image, id: "course-image" %></span>
        </div>
        
        <div class="field padding-top">
          <%= f.label :tagline %>
          <%= f.text_field :tagline, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :language %>
          <%= f.text_field :language, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :requirements %>
          <%= f.text_area :requirements, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :highlights %>
          <%= f.text_area :highlights, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :target %>
          <%= f.text_area :target, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :price %>
          <%= f.text_field :price, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :currency %>
          <%= f.text_field :currency, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :refund_policy %>
          <%= f.text_area :refund_policy, class: "text-area" %>
        </div>

         <%= f.submit "Create course", data: { disable_with: 'Creating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>

<% end %>