<%= provide(:title, sanitize(@course.title)) %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">
        <%= @course.title %> 
        <% if instructor_signed_in? && current_instructor == @instructor %>
          <span class="hard-text"> - <%= link_to "Delete course", instructor_course_path(@instructor, @course), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
        <% end %>
      </div>

      <div class="flex padding-vertical border-bottom">

        <div class="profile-picture-container">
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="course-button-click">
                Edit course
              </div>
            </div>
          <% end %>

          <% if @course.image_url(:thumb).present? %>
            <img class="thumbnail-image" src="<%= @course.image_url(:thumb) %>">
          <% end %>
        </div>

        <div class="profile-info-container">
          <div class="padding-bottom">
            <% if @course.paid? %>
              <div id="purchase-button-click">
                Purchase this course for <%= @course.price %> <%= @course.currency %>
              </div>
            <% else %>
              <div class="free-card center">
                <div class="padding-horizontal">
                  This course is free!
                </div>
              </div>
            <% end %>
          </div>
          <div class="padding-bottom">
            <%= link_to @instructor.username, instructor_path(@instructor) unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %>
            <%= link_to(instructor_path(@instructor)) do %>
              <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %>
            <% end %>
         | <%= link_to @course.category.title, category_path(@course.category) %> | <%= @course.created_at.strftime("Created on %m.%d.%Y") %> | <%= @course.updated_at.strftime("Last updated on %m.%d.%Y") %> | <%= @course.language %>
          </div>
          <div class="padding-bottom">
            <%= pluralize(@course.tracks.count, "Track") %> | <%= pluralize(@course.videos.count, "Video") %> | 3 Students | <%= pluralize(@course.reviews.count, "Review") %>
          </div>
          <div class="padding-bottom">
            <%= @course.tagline %>
          </div>
        </div>

      </div>

    </div>


    <div class="body-container">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <li><span id="first-tab-click" class="active-sidebar-tab">Overview</span></li>
            <li><span id="second-tab-click" class="inactive-sidebar-tab">Tracks</span></li>
            <li><span id="third-tab-click" class="inactive-sidebar-tab">Highlights</span></li>
            <li><span id="fourth-tab-click" class="inactive-sidebar-tab">Requirements</span></li>
            <li><span id="fifth-tab-click" class="inactive-sidebar-tab">Target</span></li>
            <li><span id="sixth-tab-click" class="inactive-sidebar-tab">Description</span></li>
            <li><span id="seventh-tab-click" class="inactive-sidebar-tab">Reviews</span></li>
          </ul>
        </aside>

        <main class="content">
          
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="track-button-click">
                Create a track
              </div>
            </div>
          <% end %>

          <div id="first-tab">
            <% if @course.tracks.any? %>
              <div class="mid-text">
                Tracks 
              </div>

              <% @course.tracks.take(3).each do |track| %>
                <div class="track-card inactive-tab">
                  <div class="padding-horizontal flex">
                    <div class="two-column">
                      <%= track.title %>
                    </div>
                    <div class="two-column right">
                      <span class="expand-videos"><%= pluralize(track.videos.count, "video") %></span>
                    </div>
                  </div>
                </div>
                <div class="video-list border-bottom padding-top">
                  <% if track.videos.any? %>
                    <% track.videos.take(3).each do |video| %>
                      <%= link_to(instructor_course_track_video_path(@instructor, @course, track, video)) do %>
                        <div class="video-card">
                          <div class="padding-horizontal flex">
                            <div class="two-column">
                              <%= video.title %>
                            </div>
                            <div class="two-column right">
                              01:02
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                    <% if track.videos.count > 3 %>
                      <div class="padding-bottom mini-text">
                        <%= pluralize(track.videos.count - 3, "more video") %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="padding-bottom">
                      There are no videos for this track yet. <%= "Visit the tracks tab to add a video to this track to start teaching your students." if instructor_signed_in? && @instructor == current_instructor %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>

            <% if @course.tracks.count > 3 %>
              <div class="padding-vertical mini-text">
                <span id="more-tracks"><%= pluralize(@course.tracks.count - 3, "more track") %></span>
              </div>
            <% end %>
            <% if @course.tracks.any? %>
              <div class="padding-vertical mid-text">
                Highlights
              </div>
            <% else %>
              <div class="padding-bottom mid-text">
                Highlights
              </div>
            <% end %>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.highlights, length: 280)) %>
            </div>
            <div class="padding-bottom mid-text">
              Requirements
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.requirements, length: 280)) %>
            </div>
            <div class="padding-bottom mid-text">
              Target
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.target, length: 280)) %>
            </div>
            <div class="padding-bottom mid-text">
              Description
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.description, length: 280)) %>
            </div>
          </div>

          <div id="second-tab">
            <div class="mid-text">
              Tracks 
            </div>
            <% if @course.tracks.any? %>
              <% @course.tracks.each do |track| %>
                <div class="track-card inactive-tab">
                  <div class="padding-horizontal flex">
                    <div class="two-column">
                      <%= track.title %>
                    </div>
                    <div class="two-column right">
                      <span class="expand-videos"><%= pluralize(track.videos.count, "video") %></span>
                    </div>
                  </div>
                </div>
                <div class="video-list border-bottom padding-top">

                  <% if instructor_signed_in? && current_instructor == @instructor %>

                    <div class="flex padding-bottom">
                      <div class="four-column">
                        <div class="edit-track-button-click">
                          Edit track
                        </div>
                      </div>
                      <div class="seventy-column">
                        <div class="video-button-click">
                          Create a video
                        </div>
                      </div>
                    </div>

                  <% end %>

                  <% if track.videos.any? %>
                    <% track.videos.each do |video| %>
                      <%= link_to(instructor_course_track_video_path(@instructor, @course, track, video)) do %>
                        <div class="video-card">
                          <div class="padding-horizontal flex">
                            <div class="two-column">
                              <%= video.title %>
                            </div>
                            <div class="two-column right">
                              01:02
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class="padding-bottom">
                      There are no videos for this track yet. <%= "Add a video to this track to start teaching your students." if instructor_signed_in? && @instructor == current_instructor %>
                    </div>
                  <% end %>
                </div>

                <% if instructor_signed_in? && current_instructor == @instructor %>
    
                  <div class="edit-track-form">
                    <div class="popup-form-inside">
                      <div class="close"></div>

                      <div class="padding-bottom center mid-text border-bottom">
                        Edit your track
                      </div>

                      <%= form_for(track, url: instructor_course_track_path(@instructor, @course, track)) do |f| %>
                        <span class="track_errors"><%= render 'partials/errors/track_errors' %></span>
                        
                        <div class="field padding-top">
                          <%= f.label :title %>
                          <%= f.text_field :title, class: "text-field" %>
                        </div>

                        <%= f.submit "Update track", data: { disable_with: 'Updating...' }, class: "submit-button" %>
                      <% end %>
                    </div>
                  </div>


                  <div class="video-form">
                    <div class="popup-form-inside">
                      <div class="close"></div>

                      <div class="padding-bottom center mid-text border-bottom">
                        Create a video
                      </div>

                      <%= form_for(@video, url: instructor_course_track_videos_path(@instructor, @course, track)) do |f| %>
                        <span class="video_errors"><%= render 'partials/errors/video_errors' %></span>
                        
                        <div class="field padding-top">
                          <%= f.label :title %>
                          <%= f.text_field :title, class: "text-field" %>
                        </div>
                        
                        <div class="field">
                          <label class="image-button" for="video-image">Upload a video</label>
                          <%= f.hidden_field :video, value: @video.cached_video_data %>
                          <span class="hidden"><%= f.file_field :video, id: "video-image" %></span>
                        </div>

                        <div class="field">
                          <%= f.label :description %>
                          <%= f.text_area :description, class: "text-area" %>
                        </div>

                        <%= f.submit "Create video", data: { disable_with: 'Creating...' }, class: "submit-button" %>
                      <% end %>
                    </div>
                  </div>

                <% end %>

              <% end %>
            <% else %>
              <div class="padding-top">
                There are no tracks yet. <%= "Add a track to this course to start teaching your students." if instructor_signed_in? && @instructor == current_instructor %>
              </div>
            <% end %>
          </div>

          <div id="third-tab">
            <div class="padding-bottom mid-text">
              Highlights
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@course.highlights) %>
            </div>
          </div>

          <div id="fourth-tab">
            <div class="padding-bottom mid-text">
              Requirements
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@course.requirements) %>
            </div>
          </div>

          <div id="fifth-tab">
            <div class="padding-bottom mid-text">
              Target
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@course.target) %>
            </div>
          </div>

          <div id="sixth-tab">
            <div class="padding-bottom mid-text">
              Description
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@course.description) %>
            </div>
          </div>

          <div id="seventh-tab">
            <div class="padding-bottom mid-text">
              Reviews
            </div>
            <div class="post-content padding-bottom">
              Buncha reviews here
            </div>
          </div>

        </main>

      </div>
    </div>



  </div>
</div>

<% if instructor_signed_in? && current_instructor == @instructor %>

  <div id="course-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Edit your course
      </div>

      <%= form_for(@course, url: instructor_course_path(@instructor)) do |f| %>
        <span id="course_errors"><%= render 'partials/errors/course_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <div class="field">
          <%= f.label :category_id %>
          <%= f.hidden_field :category_id %>
          <%= f.collection_select(:category_id, Category.all, :id, :title) %>
        </div>

        <% if @course.image_data? %>
          <div class="field">
            <img class="thumbnail-image" src="<%= @course.image_url(:thumb) %>">
          </div>
          <div class="flex border-bottom">
            <div class="field-two-column center">
              <label class="image-button" for="course-image">Upload a new course thumbnail</label>
              <%= f.hidden_field :image, value: @course.cached_image_data %>
              <span class="hidden"><%= f.file_field :image, id: "course-image" %></span>
            </div>
            <div class="field-two-column center">
              <label class="inactive-removal-tab" id="remove-image-tab" for="remove-image-inactive">Remove image</label>
              <span class="hidden"><%= f.check_box :remove_image, id: "remove-image-inactive" %></span>
            </div>
          </div>
        <% else %>
          <div class="padding-bottom border-bottom">
            <label class="image-button" for="course-image">Upload a course thumbnail</label>
            <%= f.hidden_field :image, value: @course.cached_image_data %>
            <span class="hidden"><%= f.file_field :image, id: "course-image" %></span>
          </div>
        <% end %>

        <div class="field padding-top">
          <%= f.label :tagline %>
          <%= f.text_field :tagline, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :language %>
          <%= f.text_field :language, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :highlights %>
          <%= f.text_area :highlights, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :requirements %>
          <%= f.text_area :requirements, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :target %>
          <%= f.text_area :target, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "text-area" %>
        </div>

          <div class="field">
            <label class="inactive-paid-tab" id="paid-tab" for="paid-inactive">Pay for course</label>
            <span class="hidden"><%= f.check_box :paid, id: "paid-inactive" %></span>
          </div>


        <div id="paid-container">
          <div class="field">
            <%= f.label :price %>
            <%= f.text_field :price, class: "text-field" %>
          </div>
          <div class="field">
            <%= f.label :currency %>
            <%= f.text_field :currency, class: "text-field" %>
          </div>
          <div class="field">
            <%= f.label :refund_policy %>
            <%= f.text_area :refund_policy, class: "text-area" %>
          </div>
        </div>

        <%= f.submit "Update course", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>


  <div id="track-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Create a track
      </div>

      <%= form_for(@track, url: instructor_course_tracks_path(@instructor, @course)) do |f| %>
        <span class="track_errors"><%= render 'partials/errors/track_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <%= f.submit "Create track", data: { disable_with: 'Creating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>

<% end %>