<%= provide(:title, sanitize(@course.title)) %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">
        <%= @course.title %> 
        <% if instructor_signed_in? && current_instructor == @instructor %>
          <span class="hard-text"> - <%= link_to "Delete course", instructor_course_path(@instructor, @course), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete %></span>
        <% end %>
      </div>

      <div class="flex padding-vertical border-bottom">

        <div class="profile-picture-container">
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="course-button-click">
                Edit course
              </div>
            </div>
          <% end %>

          <% if student_signed_in? %>
            <% if current_student.bookmarked?(@course) %>
              <div class="padding-bottom link-color">
                <%= link_to "Delete bookmark", instructor_course_bookmark_path(@instructor, @course, current_student.bookmark_id(@course)), method: :delete, class: "delete-button" %>
              </div>
            <% else %>
              <div class="padding-bottom link-color">
                <%= link_to "Bookmark", instructor_course_bookmarks_path(@instructor, @course), :method => :post, class: "fake-button" %>
              </div>
            <% end %>
          <% end %>

          <% if @course.image_url(:thumb).present? %>
            <img class="thumbnail-image" src="<%= @course.image_url(:thumb) %>">
          <% end %>
        </div>

        <div class="profile-info-container">
          <div class="padding-bottom">
            <% if @course.paid? %>
              <% if instructor_signed_in? && @instructor == current_instructor %>
                <div class="free-card center">
                  <div class="padding-horizontal">
                    Your course is <%= @course.price %> <%= @course.currency %>.
                  </div>
                </div>
              <% elsif student_signed_in? && current_student.purchased?(@course) %>
                <div class="free-card center">
                  <div class="padding-horizontal">
                    You own this course! 

                    <% if @course.refund_policy == "three" && @purchased_course.created_at > 3.days.ago %>
                      <%= link_to "Refund?", instructor_course_purchase_refunds_path(@instructor, @course, @purchased_course), data: { confirm: "Are you sure?" }, :method => :post, class: "red-link" %>
                    <% elsif @course.refund_policy == "seven" && @purchased_course.created_at > 7.days.ago %>
                      <%= link_to "Refund?", instructor_course_purchase_refunds_path(@instructor, @course, @purchased_course), data: { confirm: "Are you sure?" }, :method => :post, class: "red-link" %>
                    <% end %>

                  </div>
                </div>
              <% else %>
                <div id="purchase-button-click">
                  Purchase this course for <%= @course.price %> <%= @course.currency %>.
                </div>
              <% end %>
            <% else %>
              <div class="free-card center">
                <div class="padding-horizontal">
                  This course is free!
                </div>
              </div>
            <% end %>
          </div>
          <div class="padding-bottom">
            <%= link_to @instructor.username, instructor_path(@instructor) unless @instructor.profile.first_name.present? || @instructor.profile.last_name.present? %>
            <%= link_to(instructor_path(@instructor)) do %>
              <%= @instructor.profile.first_name if @instructor.profile.first_name.present? %> <%= @instructor.profile.last_name if @instructor.profile.last_name.present? %>
            <% end %>
         | <%= link_to @course.category.title, category_path(@course.category) %> | <%= @course.created_at.strftime("Created on %m.%d.%Y") %> | <%= @course.updated_at.strftime("Last updated on %m.%d.%Y") %> | <%= @course.language %> <%= " | No refunds" if @course.paid? && @course.refund_policy == "zero" %><%= " | 3 day refund policy" if @course.paid? && @course.refund_policy == "three" %><%= " | 7 day refund policy" if @course.paid? && @course.refund_policy == "seven" %>
          </div>
          <div class="padding-bottom">
            <%= pluralize(@course.tracks.count, "Track") %> | <%= pluralize(@course.videos.count, "Video") %> | <%= pluralize(@instructor.subscriptions.count + @course.purchases.count, "Student") %> | <%= pluralize(@course.reviews.count, "Review") %>
          </div>
          <div>
            <%= @course.tagline %>
          </div>
        </div>

      </div>

    </div>


    <div class="body-container">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <li><span id="first-tab-click" class="active-sidebar-tab">Overview</span></li>
            <li><span id="second-tab-click" class="inactive-sidebar-tab">Tracks</span></li>
            <li><span id="third-tab-click" class="inactive-sidebar-tab">Highlights</span></li>
            <li><span id="fourth-tab-click" class="inactive-sidebar-tab">Requirements</span></li>
            <li><span id="fifth-tab-click" class="inactive-sidebar-tab">Target</span></li>
            <li><span id="sixth-tab-click" class="inactive-sidebar-tab">Description</span></li>
            <li><span id="seventh-tab-click" class="inactive-sidebar-tab">Reviews</span></li>
          </ul>
        </aside>

        <main class="content">
          
          <% if instructor_signed_in? && current_instructor == @instructor %>
            <div class="padding-bottom">
              <div id="track-button-click">
                Create a track
              </div>
            </div>
          <% end %>

          <% if (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>
            <% unless (student_signed_in? && current_student.reviews.exists?(@course.id)) %>
              <div class="padding-bottom">
                <div id="review-button-click">
                  Create a review
                </div>
              </div>
            <% end %>
          <% end %>

          <div id="first-tab">
            <% if @course.tracks.any? %>
              <div class="mid-text">
                Tracks 
              </div>

              <% @course.tracks.take(3).each do |track| %>
                <div class="track-card inactive-tab">
                  <div class="padding-horizontal flex">
                    <div class="two-column">
                      <%= track.title %>
                    </div>
                    <div class="two-column right">
                      <span class="expand-videos"><%= pluralize(track.videos.count, "video") %></span>
                    </div>
                  </div>
                </div>
                <div class="video-list border-bottom padding-top">
                  <% if track.videos.any? %>
                    <% track.videos.take(3).each do |video| %>
                      <%= link_to(instructor_course_track_video_path(@instructor, @course, track, video)) do %>
                        <div class="video-card">
                          <div class="padding-horizontal flex">
                            <div class="two-column">
                              <%= video.title %>
                            </div>
                            <div class="two-column right">
                              01:02
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                    <% if track.videos.count > 3 %>
                      <div class="padding-bottom mini-text">
                        <%= pluralize(track.videos.count - 3, "more video") %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="padding-bottom">
                      There are no videos for this track yet. <%= "Visit the tracks tab to add a video to this track to start teaching your students." if instructor_signed_in? && @instructor == current_instructor %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>

            <% if @course.tracks.count > 3 %>
              <div class="padding-vertical mini-text">
                <span id="more-tracks"><%= pluralize(@course.tracks.count - 3, "more track") %></span>
              </div>
            <% end %>
            <% if @course.tracks.any? %>
              <div class="padding-vertical mid-text">
                Highlights
              </div>
            <% else %>
              <div class="padding-bottom mid-text">
                Highlights
              </div>
            <% end %>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.highlights, length: 280)) %>
            </div>
            <div class="padding-bottom mid-text">
              Requirements
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.requirements, length: 280)) %>
            </div>
            <div class="padding-bottom mid-text">
              Target
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.target, length: 280)) %>
            </div>
            <div class="padding-bottom mid-text">
              Description
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(truncate(@course.description, length: 280)) %>
            </div>
            
            
            <div class="mid-text">
              Reviews <%= "-" if @course.reviews.any? %>
              <span class="review-container">
                <ul>
                  <% if @course.average_rating == 5 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 4 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 3 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 2 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 1 %>
                    <li class="big-star-five"></li>
                  <% end %><%= " - (" + @course.reviews.count.to_s + ")" if @course.reviews.any? %>
                </ul>
              </span>
            </div>
            <div class="padding-bottom">
              <% @course.reviews.take(5).each do |review| %>
                <div class="padding-vertical border-bottom">
                  <div class="padding-bottom">
                    <% if review.student.profile.image.present? %>
                      <img class="baby-thumbnail-image" src="<%= review.student.profile.image_url(:thumb) %>">
                    <% end %>
                    <%= link_to review.student.username, student_path(review.student) unless review.student.profile.first_name.present? || review.student.profile.last_name.present? %>
                    <%= link_to(student_path(review.student)) do %>
                      <%= review.student.profile.first_name if review.student.profile.first_name.present? %> <%= review.student.profile.last_name if review.student.profile.last_name.present? %>
                    <% end %>
                    - <span class="review-container">
                        <ul>
                          <% if review.rating == 5 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 4 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 3 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 2 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 1 %>
                            <li class="star-five"></li>
                          <% end %>
                        </ul>
                      </span>
                    - <%= review.created_at.strftime("posted on %m.%d.%Y") %>
                  </div>
                  <div>
                    <%= truncate(review.content, length: 280) %>
                  </div>
                </div>
              <% end %>
            </div>


          </div>

          <div id="second-tab">
            <div class="mid-text">
              Tracks 
            </div>
            <% if @course.tracks.any? %>
              <% @course.tracks.each do |track| %>
                <div class="track-card inactive-tab">
                  <div class="padding-horizontal flex">
                    <div class="two-column">
                      <%= track.title %>
                    </div>
                    <div class="two-column right">
                      <span class="expand-videos"><%= pluralize(track.videos.count, "video") %></span>
                    </div>
                  </div>
                </div>
                <div class="video-list border-bottom padding-top">

                  <% if instructor_signed_in? && current_instructor == @instructor %>

                    <div class="flex padding-bottom">
                      <div class="four-column">
                        <div class="edit-track-button-click">
                          Edit track
                        </div>
                      </div>
                      <div class="seventy-column">
                        <div class="video-button-click">
                          Create a video
                        </div>
                      </div>
                    </div>

                  <% end %>

                  <% if track.videos.any? %>
                    <% track.videos.each do |video| %>
                      <%= link_to(instructor_course_track_video_path(@instructor, @course, track, video)) do %>
                        <div class="video-card">
                          <div class="padding-horizontal flex">
                            <div class="two-column">
                              <%= video.title %>
                            </div>
                            <div class="two-column right">
                              01:02
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class="padding-bottom">
                      There are no videos for this track yet. <%= "Add a video to this track to start teaching your students." if instructor_signed_in? && @instructor == current_instructor %>
                    </div>
                  <% end %>
                </div>

                <% if instructor_signed_in? && current_instructor == @instructor %>
    
                  <div class="edit-track-form">
                    <div class="popup-form-inside">
                      <div class="close"></div>

                      <div class="padding-bottom center mid-text border-bottom">
                        Edit your track
                      </div>

                      <%= form_for(track, url: instructor_course_track_path(@instructor, @course, track)) do |f| %>
                        <span class="track_errors"><%= render 'partials/errors/track_errors' %></span>
                        
                        <div class="field padding-top">
                          <%= f.label :title %>
                          <%= f.text_field :title, class: "text-field" %>
                        </div>

                        <%= f.submit "Update track", data: { disable_with: 'Updating...' }, class: "submit-button" %>
                      <% end %>
                    </div>
                  </div>

                  <div class="video-form">
                    <div class="popup-form-inside">
                      <div class="close"></div>

                      <div class="padding-bottom center mid-text border-bottom">
                        Create a video
                      </div>

                      <%= form_for(@video, url: instructor_course_track_videos_path(@instructor, @course, track)) do |f| %>
                        <span class="video_errors"><%= render 'partials/errors/video_errors' %></span>
                        
                        <div class="field padding-top">
                          <%= f.label :title %>
                          <%= f.text_field :title, class: "text-field" %>
                        </div>
                        
                        <div class="field">
                          <label class="image-button" for="video-image">Upload a video</label>
                          <%= f.hidden_field :video, value: @video.cached_video_data %>
                          <span class="hidden"><%= f.file_field :video, id: "video-image" %></span>
                        </div>

                        <div class="field">
                          <%= f.label :description %>
                          <%= f.text_area :description, class: "text-area" %>
                        </div>

                        <%= f.submit "Create video", data: { disable_with: 'Creating...' }, class: "submit-button" %>
                      <% end %>
                    </div>
                  </div>

                <% end %>

              <% end %>
            <% else %>
              <div class="padding-top">
                There are no tracks yet. <%= "Add a track to this course to start teaching your students." if instructor_signed_in? && @instructor == current_instructor %>
              </div>
            <% end %>
          </div>

          <div id="third-tab">
            <div class="padding-bottom mid-text">
              Highlights
            </div><
            <div class="post-content padding-bottom">
              <%= sanitize(@course.highlights) %>
            </div>
          </div>

          <div id="fourth-tab">
            <div class="padding-bottom mid-text">
              Requirements
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@course.requirements) %>
            </div>
          </div>

          <div id="fifth-tab">
            <div class="padding-bottom mid-text">
              Target
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@course.target) %>
            </div>
          </div>

          <div id="sixth-tab">
            <div class="padding-bottom mid-text">
              Description
            </div>
            <div class="post-content padding-bottom">
              <%= sanitize(@course.description) %>
            </div>
          </div>

          <div id="seventh-tab">
            <div class="mid-text">
              Reviews <%= "-" if @course.reviews.any? %>
              <span class="review-container">
                <ul>
                  <% if @course.average_rating == 5 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 4 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 3 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 2 %>
                    <li class="big-star-five"></li>
                    <li class="big-star-five"></li>
                  <% elsif @course.average_rating == 1 %>
                    <li class="big-star-five"></li>
                  <% end %>
                </ul>
              </span><%= " - (" + @course.reviews.count.to_s + ")" if @course.reviews.any? %>
            </div>
            <div class="padding-bottom">
              <% @course.reviews.each do |review| %>
                <div class="padding-vertical border-bottom">
                  <div class="padding-bottom">
                    <% if review.student.profile.image.present? %>
                      <img class="baby-thumbnail-image" src="<%= review.student.profile.image_url(:thumb) %>">
                    <% end %>
                    <%= link_to review.student.username, student_path(review.student) unless review.student.profile.first_name.present? || review.student.profile.last_name.present? %>
                    <%= link_to(student_path(review.student)) do %>
                      <%= review.student.profile.first_name if review.student.profile.first_name.present? %> <%= review.student.profile.last_name if review.student.profile.last_name.present? %>
                    <% end %>
                    - <span class="review-container">
                        <ul>
                          <% if review.rating == 5 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 4 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 3 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 2 %>
                            <li class="star-five"></li>
                            <li class="star-five"></li>
                          <% elsif review.rating == 1 %>
                            <li class="star-five"></li>
                          <% end %>
                        </ul>
                      </span>
                    - <%= review.created_at.strftime("posted on %m.%d.%Y") %>
                  </div>
                  <% if student_signed_in? && current_student.id == review.student_id %>
                    <div class="flex padding-bottom">
                      <div class="two-column">
                        <div class="edit-review-button-click">
                          Edit review
                        </div>
                      </div>
                      <div class="two-column link-color">
                        <%= link_to "Delete review", instructor_course_review_path(@instructor, @course, review), data: { confirm: "Are you sure?" }, method: :delete, class: "delete-button" %>
                      </div>
                    </div>
                  <% end %>
                  <div>
                    <%= review.content %>
                  </div>
                </div>

                <% if (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>

                  <div class="edit-review-form">
                    <div class="popup-form-inside">
                      <div class="close"></div>

                      <div class="padding-bottom center mid-text border-bottom">
                        Edit your review
                      </div>

                      <%= form_for(review, url: instructor_course_review_path(@instructor, @course, review)) do |f| %>
                        <span class="review_errors"><%= render 'partials/errors/review_errors' %></span>
                        
                        <div class="field padding-top">
                          <%= f.label :rating %>
                          <%= f.select :rating, options_for_select(rating) %>
                        </div>
                        
                        <div class="field">
                          <%= f.label :content %> <span class="mini-text">In 1000 characters or less.</span>
                          <%= f.text_area :content, class: "text-area" %>
                        </div>

                        <%= f.submit "Update review", data: { disable_with: 'Updating...' }, class: "submit-button" %>
                      <% end %>
                    </div>
                  </div>

                <% end %>

              <% end %>
            </div>
          </div>

        </main>

      </div>
    </div>



  </div>
</div>

<% if instructor_signed_in? && current_instructor == @instructor %>

  <div id="course-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Edit your course
      </div>

      <%= form_for(@course, url: instructor_course_path(@instructor)) do |f| %>
        <span id="course_errors"><%= render 'partials/errors/course_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <div class="field">
          <%= f.label :category_id %>
          <%= f.hidden_field :category_id %>
          <%= f.collection_select(:category_id, Category.all, :id, :title) %>
        </div>

        <div class="field">
          <%= f.label :subcategory_id %>
          <%= f.hidden_field :subcategory_id %>
          <%= f.collection_select(:subcategory_id, @course.category.subcategories, :id, :title) %>
        </div>

        <% if @course.image_data? %>
          <div class="field">
            <img class="thumbnail-image" src="<%= @course.image_url(:thumb) %>">
          </div>
          <div class="flex border-bottom">
            <div class="field-two-column center">
              <label class="image-button" for="course-image">Upload a new course thumbnail</label>
              <%= f.hidden_field :image, value: @course.cached_image_data %>
              <span class="hidden"><%= f.file_field :image, id: "course-image" %></span>
            </div>
            <div class="field-two-column center">
              <label class="inactive-removal-tab" id="remove-image-tab" for="remove-image-inactive">Remove image</label>
              <span class="hidden"><%= f.check_box :remove_image, id: "remove-image-inactive" %></span>
            </div>
          </div>
        <% else %>
          <div class="padding-bottom border-bottom">
            <label class="image-button" for="course-image">Upload a course thumbnail</label>
            <%= f.hidden_field :image, value: @course.cached_image_data %>
            <span class="hidden"><%= f.file_field :image, id: "course-image" %></span>
          </div>
        <% end %>

        <div class="field padding-top">
          <%= f.label :tagline %>
          <%= f.text_field :tagline, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :language %>
          <%= f.text_field :language, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :highlights %>
          <%= f.text_area :highlights, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :requirements %>
          <%= f.text_area :requirements, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :target %>
          <%= f.text_area :target, class: "text-area" %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "text-area" %>
        </div>

        <% if @instructor.merchant.present? %>
          <div class="field">
            <label class="inactive-paid-tab" id="paid-tab" for="paid-inactive">Pay for course</label>
            <span class="hidden"><%= f.check_box :paid, id: "paid-inactive" %></span>
          </div>

          <div id="paid-container">
            <div class="flex">
              <div class="field-three-column">
                <%= f.label :price %>
                <%= f.text_field :price, class: "text-field" %>
              </div>
              <div class="field-three-column">
                <%= f.label :currency %>
                <%= f.select :currency, options_for_select(currency) %>
              </div>
              <div class="field-three-column">
                <%= f.label :refund_policy %>
                <%= f.select :refund_policy, options_for_select([["None", :zero], ["3 days", :three], ["7 days", :seven]]) %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="field center">
            In order to sell a course you must first become a <%= link_to "Merchant", new_instructor_merchant_path(current_instructor) %>.
          </div>
        <% end %>

        <%= f.submit "Update course", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>


  <div id="track-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Create a track
      </div>

      <%= form_for(@track, url: instructor_course_tracks_path(@instructor, @course)) do |f| %>
        <span class="track_errors"><%= render 'partials/errors/track_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :title %>
          <%= f.text_field :title, class: "text-field" %>
        </div>

        <%= f.submit "Create track", data: { disable_with: 'Creating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>

<% elsif student_signed_in? %>

  <div id="purchase-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Purchase <%= @course.title %>
      </div>

      <%= form_for(@purchase, url: instructor_course_purchases_path(@instructor, @course), :html => {:id => "payment-form"}) do |f| %>
        <span class="purchase_errors"><%= render 'partials/errors/purchase_errors' %></span>

        <div class="padding-vertical center mid-text border-bottom">
          <%= @course.price %> <%= @course.currency %>
        </div>

        <% if @customer.default_source.present? %>
          <div class="padding-top">
            <label class="inactive-paid-tab" id="use-card-tab" for="use-card-inactive">Use your card</label>
            <span class="hidden"><%= f.check_box :use_your_card, data: { disable_with: '...' }, id: "use-card-inactive" %></span>
          </div>
          <div id="use-card-container" class="padding-vertical">
            Pressing "Purchase course" will automatically finish this process, including charging your card. If you'd like to change your card, <%= link_to "please do so before continuing", student_edit_source_path(current_student) %>.
          </div>

          <span id="use-card-button"><%= f.submit "Purchase button", data: { disable_with: 'Loading...' }, id:"fatty", class: "submit-button" %></span>

        <% end %>

        <div id="checkout-container" class="padding-top">
          
          <div class="field">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>

        <span id="checkout-button" class="fake-button margin-top">checkout button</span>
        <span id="purchase-button"><%= f.submit "Purchase button", data: { disable_with: 'Loading...' }, class: "submit-button" %></span>

      <% end %>

    </div>
  </div>

  <%= render 'partials/stripe' %>

<% else %>

  <div id="purchase-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-top">
        You must <%= link_to "Register", new_student_registration_path %> or <%= link_to "Sign in", student_session_path %> as a student to purchase this course.
      </div>

      
    </div>
  </div>

<% end %>

<% if (student_signed_in? && current_student.subscribed?(@instructor)) || (student_signed_in? && current_student.purchased?(@course)) %>
  
  <div id="review-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Review <%= @course.title %>
      </div>

      <%= form_for(@review, url: instructor_course_reviews_path(@instructor, @course)) do |f| %>
        <span class="review_errors"><%= render 'partials/errors/review_errors' %></span>

        <div class="field padding-top">
          <%= f.label :rating %>
          <%= f.select :rating, options_for_select(rating) %>
        </div>
        
        <div class="field">
          <%= f.label :content %> <span class="mini-text">In 1000 characters or less.</span>
          <%= f.text_area :content, class: "text-area" %>
        </div>

        <%= f.submit "Create review", data: { disable_with: 'Creating...' }, class: "submit-button" %>
      <% end %>

    </div>
  </div>

<% end %>