<% if @student.profile.first_name.present? && @student.profile.last_name.present? %>
  <%= provide(:title, sanitize(@student.profile.first_name) + " " + sanitize(@student.profile.last_name)) %>
<% else %>
  <%= provide(:title, sanitize(@student.username)) %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">

        <%= link_to @student.username, student_path(@student) unless @student.profile.first_name.present? || @student.profile.last_name.present? %> 
        <%= link_to(student_path(@student)) do %>
          <%= @student.profile.first_name if @student.profile.first_name.present? %> <%= @student.profile.last_name if @student.profile.last_name.present? %>
        <% end %>



        <span class="hard-text"> | Student | 18 Courses | 3 Subscriptions | 5 Reviews</span>
      </div>

      <div class="flex padding-vertical border-bottom">

        <div class="profile-picture-container">
          <% if student_signed_in? && current_student == @student %>
          <div class="padding-bottom">
            <div id="edit-profile-click">
              Edit Profile
            </div>
          </div>
          <% end %>

          <% if @student.profile.image_url(:thumb).present? %>
            <img class="thumbnail-image" src="<%= @student.profile.image_url(:thumb) %>">
          <% end %>
        </div>

        //<div class="profile-info-container">
          <div class="padding-bottom">
            <%= @student.profile.city if @student.profile.city.present? %><%= ", " if @student.profile.city.present? && (@student.profile.state.present? || @student.profile.country.present?) %><%= @student.profile.state if @student.profile.state.present? %><%= ", " if @student.profile.state.present? && @student.profile.country.present? %><%= @student.profile.country if @student.profile.country.present? %> 

            <%= "|" if (@student.profile.city.present? || @student.profile.state.present? || @student.profile.country.present?) && (@student.profile.website.present? || @student.profile.twitter_url.present? || @student.profile.youtube_url.present?) %> <%= link_to "Website", @student.profile.website, target: :_blank if @student.profile.website.present? %> <%= "|" if @student.profile.website.present? && (@student.profile.twitter_url.present? || @student.profile.youtube_url.present?) %> <%= link_to "Twitter", @student.profile.twitter_url, target: :_blank, class: "twitter" if @student.profile.twitter_url.present? %> <%= "|" if @student.profile.twitter_url.present? && @student.profile.youtube_url.present? %> <%= link_to "YouTube", @student.profile.youtube_url, target: :_blank, class: "youtube" if @student.profile.youtube_url.present? %>
          </div>
          <div class="padding-bottom">
            <%= @student.profile.biography %>
          </div>
        </div>

      </div>

    </div>


    <div class="body-container padding-vertical">
      <div class="flex">

        <div class="sidebar">
          <li>Courses</li>
          <li>Posts</li>
          <li>Example</li>
        </div>

        <div class="content">
          An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage strongly. Off can admiration prosperous now devonshire diminution law. 

Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. Supply as so period it enough income he genius. Themselves acceptance bed sympathize get dissimilar way admiration son. Design for are edward regret met lovers. This are calm case roof and. 

Oh he decisively impression attachment friendship so if everything. Whose her enjoy chief new young. Felicity if ye required likewise so doubtful. On so attention necessary at by provision otherwise existence direction. Unpleasing up announcing unpleasant themselves oh do on. Way advantage age led listening belonging supposing. 

Offered say visited elderly and. Waited period are played family man formed. He ye body or made on pain part meet. You one delay nor begin our folly abode. By disposed replying mr me unpacked no. As moonlight of my resolving unwilling. 

No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympathize her collecting occasional. Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye. Voice tried known to as my to. Though wished merits or be. Alone visit use these smart rooms ham. No waiting in on enjoyed placing it inquiry. 
        </div>

      </div>
    </div>



  </div>
</div>

<% if student_signed_in? && current_student == @student %>

  <div id="profile-form">
    <div class="profile-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Edit your profile
      </div>

      <%= form_for(@profile, url: student_profile_path(@student)) do |f| %>
        <span id="profile_errors"><%= render 'partials/errors/profile_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "text-field" %>
        </div>

        <% if @profile.image_data? %>
          <div class="field">
            <img class="thumbnail-image" src="<%= @student.profile.image_url(:thumb) %>">
          </div>
          <div class="flex border-bottom">
            <div class="field-two-column center">
              <label class="image-button" for="profile-image">Upload a profile image</label>
              <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
            </div>
            <div class="field-two-column center">
              <label class="inactive-removal-tab" id="remove-image-tab" for="remove-image-inactive">Remove image</label>
              <span class="hidden"><%= f.check_box :remove_image, id: "remove-image-inactive" %></span>
            </div>
          </div>
        <% else %>
          <div class="field">
            <label class="image-button" for="profile-image">Upload a profile image</label>
              <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
          </div>
        <% end %>


        <div class="field padding-top">
          <%= f.label :city %>
          <%= f.text_field :city, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :country %>
          <%= f.text_field :country, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_handle %>
          <%= f.text_field :twitter_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :youtube_handle %>
          <%= f.text_field :youtube_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :biography %>
          <%= f.text_area :biography, class: "text-area" %>
        </div>

         <%= f.submit "Update profile", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>

<% end %>