<% if @student.profile.first_name.present? && @student.profile.last_name.present? %>
  <%= provide(:title, sanitize(@student.profile.first_name) + " " + sanitize(@student.profile.last_name)) %>
<% else %>
  <%= provide(:title, sanitize(@student.username)) %>
<% end %>

<%= render 'students/partials/student_twitter_cards' %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-top">

      <div class="padding-bottom mid-text border-bottom">

        <%= link_to @student.username, student_path(@student) unless @student.profile.first_name.present? || @student.profile.last_name.present? %> 
        <%= link_to(student_path(@student)) do %>
          <%= @student.profile.first_name if @student.profile.first_name.present? %> <%= @student.profile.last_name if @student.profile.last_name.present? %>
        <% end %>

        <span class="hard-text"> | Student | <%= pluralize(@student.purchases.count, "Course") %> | <%= pluralize(@student.subscriptions.count, "Subscription") %> | <%= pluralize(@student.reviews.count, "Review") %></span>

      </div>

      <div class="flex padding-vertical border-bottom">

        <div class="profile-picture-container">
          <% if student_signed_in? && current_student == @student %>
          <div class="padding-bottom">
            <div id="profile-button-click">
              Edit Profile
            </div>
          </div>
          <% end %>

          <% if @student.profile.image_url(:thumb).present? %>
            <img class="thumbnail-image" src="<%= @student.profile.image_url(:thumb) %>">
          <% end %>
        </div>

        <div class="profile-info-container">
          <div class="padding-bottom">
            <%= @student.profile.city if @student.profile.city.present? %><%= ", " if @student.profile.city.present? && (@student.profile.state.present? || @student.profile.country.present?) %><%= @student.profile.state if @student.profile.state.present? %><%= ", " if @student.profile.state.present? && @student.profile.country.present? %><%= @student.profile.country if @student.profile.country.present? %> 

            <%= "|" if (@student.profile.city.present? || @student.profile.state.present? || @student.profile.country.present?) && (@student.profile.website.present? || @student.profile.twitter_url.present? || @student.profile.youtube_url.present?) %> <%= link_to "Website", @student.profile.website, target: :_blank if @student.profile.website.present? %> <%= "|" if @student.profile.website.present? && (@student.profile.twitter_url.present? || @student.profile.youtube_url.present?) %> <%= link_to "Twitter", @student.profile.twitter_url, target: :_blank, class: "twitter" if @student.profile.twitter_url.present? %> <%= "|" if @student.profile.twitter_url.present? && @student.profile.youtube_url.present? %> <%= link_to "YouTube", @student.profile.youtube_url, target: :_blank, class: "youtube" if @student.profile.youtube_url.present? %>
          </div>
          <div>
            <%= @student.profile.biography %>
          </div>
        </div>

      </div>

    </div>


    <div class="body-container">
      <div class="flex">

        <aside class="sidebar">
          <ul>
            <li><span id="first-tab-click" class="active-sidebar-tab">Overview</span></li>
            <li><span id="second-tab-click" class="inactive-sidebar-tab">Bookmarks</span></li>
            <li><span id="third-tab-click" class="inactive-sidebar-tab">Subscriptions</span></li>
            <% if student_signed_in? && current_student == @student %>
              <li><span id="fourth-tab-click" class="inactive-sidebar-tab">Purchases</span></li>
              <li><span id="fifth-tab-click" class="inactive-sidebar-tab">Messages 
              <span class="messages_count"><%= render 'instructors/partials/messages/messages_count' %></span></span></li>
          <% end %>    
          </ul>
        </aside>

        <main class="content">

          <div id="first-tab">
            <div class="padding-bottom mid-text">
              Bookmarks 
            </div>

            <div class="flex">
              <span class="bookmarks_index_container"><%= render 'students/partials/bookmarks/bookmarks_index_container' %></span>
            </div>

            <div class="padding-bottom mid-text">
              Subscriptions 
            </div>

            <% @student.subscriptions.limit(4).each do |subscription| %>
              <div class="four-column-course border margin-bottom">
                <%= link_to(instructor_path(subscription.instructor)) do %>
                  <img class="thumbnail-image-feed-five" src="<%= subscription.instructor.profile.image_url(:thumb) %>">
                <% end %>
                <div class="padding-horizontal">
                  <div class="padding-vertical-mini">

                    <% if student_signed_in? && current_student == @student %>
                      <div class="flex">
                        <div class="two-column">
                          <%= link_to subscription.instructor.username, instructor_path(subscription.instructor) unless subscription.instructor.profile.first_name.present? || subscription.instructor.profile.last_name.present? %> 
                          <%= link_to(instructor_path(subscription.instructor)) do %>
                            <%= subscription.instructor.profile.first_name if subscription.instructor.profile.first_name.present? %> <%= subscription.instructor.profile.last_name if subscription.instructor.profile.last_name.present? %>
                          <% end %>
                        </div>
                        <div class="two-column right">
                          <%= BigDecimal(Stripe::Plan.retrieve(subscription.instructor.plan_id, stripe_account: subscription.instructor.merchant.stripe_id).amount / 100) %> <%= Stripe::Plan.retrieve(subscription.instructor.plan_id, stripe_account: subscription.instructor.merchant.stripe_id).currency.upcase %>
                        </div>
                      </div>
                    <% else %>
                      <%= link_to subscription.instructor.username, instructor_path(subscription.instructor) unless subscription.instructor.profile.first_name.present? || subscription.instructor.profile.last_name.present? %> 
                      <%= link_to(instructor_path(subscription.instructor)) do %>
                        <%= subscription.instructor.profile.first_name if subscription.instructor.profile.first_name.present? %> <%= subscription.instructor.profile.last_name if subscription.instructor.profile.last_name.present? %>
                      <% end %>
                    <% end %>

                  </div>
                </div>

              </div>
            <% end %>

          </div>

          <div id="second-tab">
            <div class="padding-bottom mid-text">
              Bookmarks 
            </div>

            <div class="flex">
              <span class="bookmarks_container"><%= render 'students/partials/bookmarks/bookmarks_container' %></span>
            </div>

          </div>

          <div id="third-tab">
            <div class="padding-bottom mid-text">
              Subscriptions 
            </div>

            <% @student.subscriptions.each do |subscription| %>
              <div class="four-column-course border margin-bottom">
                <%= link_to(instructor_path(subscription.instructor)) do %>
                  <img class="thumbnail-image-feed-five" src="<%= subscription.instructor.profile.image_url(:thumb) %>">
                <% end %>
                <div class="padding-horizontal">
                  <div class="padding-vertical-mini mini-text">

                    <% if student_signed_in? && current_student == @student %>
                      <div class="flex">
                        <div class="two-column">
                          <%= link_to subscription.instructor.username, instructor_path(subscription.instructor) unless subscription.instructor.profile.first_name.present? || subscription.instructor.profile.last_name.present? %> 
                          <%= link_to(instructor_path(subscription.instructor)) do %>
                            <%= subscription.instructor.profile.first_name if subscription.instructor.profile.first_name.present? %> <%= subscription.instructor.profile.last_name if subscription.instructor.profile.last_name.present? %>
                          <% end %>
                        </div>
                        <div class="two-column right">
                          <%= BigDecimal(Stripe::Plan.retrieve(subscription.instructor.plan_id, stripe_account: subscription.instructor.merchant.stripe_id).amount / 100) %> <%= Stripe::Plan.retrieve(subscription.instructor.plan_id, stripe_account: subscription.instructor.merchant.stripe_id).currency.upcase %>
                        </div>
                      </div>
                    <% else %>
                      <%= link_to subscription.instructor.username, instructor_path(subscription.instructor) unless subscription.instructor.profile.first_name.present? || subscription.instructor.profile.last_name.present? %> 
                      <%= link_to(instructor_path(subscription.instructor)) do %>
                        <%= subscription.instructor.profile.first_name if subscription.instructor.profile.first_name.present? %> <%= subscription.instructor.profile.last_name if subscription.instructor.profile.last_name.present? %>
                      <% end %>
                    <% end %>

                  </div>
                </div>

              </div>
            <% end %>
          </div>



          <% if student_signed_in? && current_student == @student %>
            <div id="fourth-tab">
              <div class="padding-bottom mid-text">
                Purchases 
              </div>


              <div class="flex">
                <% @student.purchases.each do |purchase| %>
                  <div class="four-column-course border margin-bottom">
                    <%= link_to(instructor_course_path(purchase.course.instructor, purchase.course)) do %>
                      <img class="thumbnail-image-feed-five" src="<%= purchase.course.image_url(:thumb) %>">
                    <% end %>
                    <div class="padding-horizontal">
                      <div class="padding-vertical-mini border-bottom">
                        <%= link_to truncate(purchase.course.title,length: 50), instructor_course_path(purchase.course.instructor, purchase.course) %>
                      </div>
                    </div>
                    <div class="padding-horizontal">
                      <div class="padding-vertical-mini border-bottom mini-text">
                        <div class="flex">
                          <div class="two-column-course">
                            <%= link_to purchase.course.instructor.username, instructor_path(purchase.course.instructor) unless purchase.course.instructor.profile.first_name.present? || purchase.course.instructor.profile.last_name.present? %> 
                            <%= link_to(instructor_path(purchase.course.instructor)) do %>
                              <%= purchase.course.instructor.profile.first_name if purchase.course.instructor.profile.first_name.present? %> <%= purchase.course.instructor.profile.last_name if purchase.course.instructor.profile.last_name.present? %>
                            <% end %>
                          </div>
                          <div class="two-column-course right bold">
                            <% if purchase.course.paid? && student_signed_in? && current_student.purchased?(purchase.course) %>
                              <%= purchase.price %> <%= purchase.currency %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="padding-horizontal">
                      <div class="padding-vertical-mini border-bottom mini-text">
                        <% if purchase.course.reviews.any? %>
                          <span class="review-container">
                            <ul>
                              <% if purchase.course.average_rating == 5 %>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                              <% elsif purchase.course.average_rating == 4 %>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                              <% elsif purchase.course.average_rating == 3 %>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                              <% elsif purchase.course.average_rating == 2 %>
                                <li class="star-five"></li>
                                <li class="star-five"></li>
                              <% elsif purchase.course.average_rating == 1 %>
                                <li class="star-five"></li>
                              <% end %><%= " - (" + purchase.course.reviews.count.to_s + ")" %>
                            </ul>
                          </span>
                        <% else %>
                          No reviews yet.
                        <% end %>
                      </div>
                    </div>

                    <div class="padding-vertical-mini padding-horizontal mini-text">
                      <%= truncate(purchase.course.tagline, length: 140) %>
                    </div>

                    <% if student_signed_in? && current_student == @student %>
                      <% if purchase.stripe_charge_id.starts_with?("ch") %>
                        <div class="padding-horizontal">
                          <div class="padding-vertical-mini link-color border-top">
                            <% if purchase.course.refund_policy == "three" && purchase.created_at > 3.days.ago %>
                              <%= link_to "Refund", instructor_course_purchase_refunds_path(purchase.instructor, purchase.course, purchase), :method => :post, class: "delete-button" %>
                            <% elsif purchase.course.refund_policy == "seven" && purchase.created_at > 7.days.ago %>
                              <%= link_to "Refund", instructor_course_purchase_refunds_path(purchase.instructor, purchase.course, purchase), :method => :post, class: "delete-button" %>
                            <% else %>
                              <div class="mini-text">
                                You cannot refund this course.
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% else %> 
                        <div class="padding-horizontal">
                          <div class="padding-vertical-mini border-top mini-text">
                            You have refunded this course.
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>



            <div id="fifth-tab">
              <div class="padding-bottom mid-text">
                Messages 
                <% if @messages.any? %>
                  <span class="notification-circle"><%= @messages.count %>
                <% end %>
              </div>

              <span class="messages_container"><%= render 'students/partials/messages/messages_container' %></span>


            </div>



          <% end %>
          
        </main>

      </div>
    </div>


  </div>
</div>

<% if student_signed_in? && current_student == @student %>

  <div id="profile-form">
    <div class="popup-form-inside">
      <div class="close"></div>

      <div class="padding-bottom center mid-text border-bottom">
        Edit your profile
      </div>

      <%= form_for(@profile, url: student_profile_path(@student)) do |f| %>
        <span id="profile_errors"><%= render 'partials/errors/profile_errors' %></span>
        
        <div class="field padding-top">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "text-field" %>
        </div>

        <% if @profile.image_data? %>
          <div class="field">
            <img class="thumbnail-image" src="<%= @student.profile.image_url(:thumb) %>">
          </div>
          <div class="flex">
            <div class="field-two-column center">
              <label class="image-button" for="profile-image">Upload a new profile image</label>
              <%= f.hidden_field :image, value: Profile.new.cached_image_data %>
              <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
            </div>
            <div class="field-two-column center">
              <label class="inactive-removal-tab" id="remove-image-tab" for="remove-image-inactive">Remove image</label>
              <span class="hidden"><%= f.check_box :remove_image, id: "remove-image-inactive" %></span>
            </div>
          </div>
        <% else %>
          <div class="field">
            <label class="image-button" for="profile-image">Upload a profile image</label>
            <%= f.hidden_field :image, value: Profile.new.cached_image_data %>
            <span class="hidden"><%= f.file_field :image, id: "profile-image" %></span>
          </div>
        <% end %>


        <div class="field padding-top border-top">
          <%= f.label :city %>
          <%= f.text_field :city, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :country %>
          <%= f.text_field :country, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_handle %>
          <%= f.text_field :twitter_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :youtube_handle %>
          <%= f.text_field :youtube_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :biography %>
          <%= f.text_area :biography, class: "text-area" %>
        </div>

         <%= f.submit "Update profile", data: { disable_with: 'Updating...' }, class: "submit-button" %>
      <% end %>
    </div>
  </div>

<% end %>